<?xml version='1.0' encoding='utf-8'?>
<widget id="de.bytemind.sepia.app.web" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>S.E.P.I.A.</name>
    <description>
        Prototype of S.E.P.I.A. framework client
    </description>
    <author email="info@bytemind.de" href="http://bytemind.de">
        Florian Quirin - Bytemind
    </author>
    
	<content src="start.html" />
	
	<preference name="orientation" value="portrait" />
		
	<!--plugins-->
	<preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000" />
	
	<plugin name="cordova-plugin-whitelist" spec="1" />
	<access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	
	<!--hooks--><!-- this hooks dont work reliably enough, at least not under windows -->
	<!--<hook type="before_platform_add" src="hooks/010_install_plugins.js" />-->
	<!--<hook type="after_platform_add" src="hooks/030_resource_files.js" />-->
    
	<platform name="android">
		<!--more hooks-->
		<hook type="after_platform_add" src="hooks/add-android-intent-filters.js" />
	
		<!--one main icon-->
		<icon src="resources/icons/android/icon-ldpi.png" density="ldpi" />         <!-- 32px -->
		<icon src="resources/icons/android/icon-mdpi.png" density="mdpi" />         <!-- 48px -->
        <icon src="resources/icons/android/icon-hdpi.png" density="hdpi" />         <!-- 72px -->
        <icon src="resources/icons/android/icon-xhdpi.png" density="xhdpi" />       <!-- 96px -->
		<icon src="resources/icons/android/icon-xxhdpi.png" density="xxhdpi" />     <!-- 144px -->
        <icon src="resources/icons/android/icon-xxxhdpi.png" density="xxxhdpi" />   <!-- 192px -->
		
		<splash src="resources/splashs/android/port-xhdpi.9.png" density="port-xhdpi"/>
		<preference name="SplashMaintainAspectRatio" value="true" />
		<preference name="SplashShowOnlyFirstTime" value="false" />
        <preference name="ShowSplashScreenSpinner" value="false" />
		<preference name="SplashScreenDelay" value="10000" />
		
		<!--config stuff-->
		<preference name="AndroidLaunchMode" value="singleTask" />
		<preference name="android-minSdkVersion" value="19" /><!-- Android 4.4+ -->
		<preference name="android-targetSdkVersion" value="23" /><!-- TODO: remove asap! its only a fix for broken local notifications in Android 8.0 (due to file:// -> content://) -->
		<preference name="android-windowSoftInputMode" value="adjustSize" />
		<!-- custom manifest changes -->
		<custom-preference name="android-manifest/application/activity/@android:theme" value="@style/SplashTheme"/> <!-- Theme mainly for splash screen or background colors -->
		
		<!--intents-->
        <allow-intent href="market:*" />
    </platform>
    
	<platform name="ios">
		<!--more hooks-->
		<hook type="after_platform_add" src="hooks/add-swift-support.js" />
		
		<!--icons and splash-->
		<icon src="resources/icons/ios/icon.png" width="57" height="57" />
        <icon src="resources/icons/ios/icon@2x.png" width="114" height="114" />
        <icon src="resources/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="resources/icons/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="resources/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="resources/icons/ios/icon-50@2x.png" width="100" height="100" />
        <icon src="resources/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="resources/icons/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="resources/icons/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="resources/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="resources/icons/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="resources/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="resources/icons/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="resources/icons/ios/icon-83.5@2x.png" width="167" height="167" />
        <icon src="resources/icons/ios/icon-small.png" width="29" height="29" />
        <icon src="resources/icons/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="resources/icons/ios/icon-small@3x.png" width="87" height="87" />
		
		<splash src="resources/splashs/ios/Default@2x~iphone~anyany.png" />
		<splash src="resources/splashs/ios/Default@3x~iphone~anyany.png" />
		<splash src="resources/splashs/ios/Default@2x~ipad~anyany.png" />
        <preference name="ShowSplashScreenSpinner" value="false" />
		<preference name="SplashScreenDelay" value="10000" />
		
		<!--config stuff-->
		<preference name="deployment-target" value="10.0" /><!-- iOS 10+ -->
        <preference name="DisallowOverscroll" value="true" />
        <preference name="SuppressesLongPressGesture" value="true" />
	
		<!--intents-->
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	
	<universal-links>
		<ios-team-id value="" />
		<host name="b07z.net" scheme="https">
			<path url="/sepia/*" event="universalLinkTest"/>
		</host>
	</universal-links>
	
</widget>
