html {
	background-image: url(../img/SEPIA_back.png);
	background-size: auto 50%;
}
#sepiaFW-main-window {
	color: #000000;
	border: 0px;
}
@media (min-width: 480px) and (min-height: 481px) {
	.sepiaFW-top-layer-view {
		border-radius: 0px;
	}
}
.sepiaFW-results-container {
	scrollbar-color: #eee #fff;
}

#sepiaFW-pC  { background-color: #000000; } 	/* Primary color - used for status bar and browser theme as well */
#sepiaFW-sC  { background-color: #16ABC3; }	/* Secondary color - should be in contrast to primary */
#sepiaFW-sC2 { background-color: #e3e3e9; }	/* Secondary color 2 - should be in contrast to 1 and 2 */
#sepiaFW-aC  { background-color: #ba2a2a; }	/* Accent color 1 - e.g. used during listening in assistant button */
#sepiaFW-aC2 { background-color: #4ec48f; }	/* Accent color 2 - e.g. used during speaking in assistant button */
#sepiaFW-asC { background-color: #CEFF1A; }	/* Assistant color - the signature color of the assistant */
#sepiaFW-adC { background-color: #ffeb3b; }	/* Await-dialog color - used during "wait for interaction" in assistant button */
#sepiaFW-lC  { background-color: #8e8e8e; }	/* Loading color - used during loading in assistant button */

/* #sepiaFW-navC 	{ background-color: #000; } */ 		/* Navigation bar color - can be used to overwrite color for nav-bar (depends on OS support) */
/* #sepiaFW-statC 	{ background-color: #000; } */ 		/* Status bar color - can be used to overwrite color for status-bar (depends on OS support) */

#sepiaFW-login-box, #sepiaFW-nav-bar, #sepiaFW-chat-controls-form, 
#sepiaFW-chat-controls-right, #sepiaFW-chat-controls-vertical {
	background: #000000;
	color: #fff;
}
html.landscape-small #sepiaFW-chat-controls {
	background: #000000 !important;
	color: #fff !important;
}

#sepiaFW-nav-bar-page-indicator {
	background: linear-gradient(to right, #CEFF1A 0%, #16ABC3 100%);
}
#sepiaFW-nav-menu-go-left {
	color: #8be158 !important;
}
#sepiaFW-nav-menu-go-right {
	color: #58c987 !important;
}

#sepiaFW-login-box button {
	background: linear-gradient(to right, #CEFF1A 0%, #16ABC3 100%);
	color: #000;
}
.sepiaFW-notouch-device #sepiaFW-login-box button:hover {
	background: linear-gradient(to right, #fff 0%, #bbb 100%);
	color: #000;
}

#sepiaFW-main-window button {
	background: transparent;
	color: #fff;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #CEFF1A;
}
#sepiaFW-assist-btn-area {
	border-color: #000000;
}
#sepiaFW-assist-btn {
	background: linear-gradient(to right, #CEFF1A 0%, #16ABC3 100%) !important;
}
.sepiaFW-notouch-device #sepiaFW-assist-btn:hover {
	background: linear-gradient(to right, #fff 0%, #bbb 100%) !important;
}
#sepiaFW-assist-btn i {
	display: none !important;
}

#sepiaFW-chat-controls-speech-box > div {
	background: #000;
	color: #fff;
}

.sepiaFW-menu {
	/*background: rgba(206, 255, 26, 0.95);*/
	background:#000;
	color: #fff;
}
.sepiaFW-cards-list-contextMenu {
	background: #222;
}
#sepiaFW-chat-controls-more-menu button {
	background: #fff;
	color: #000;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background-color: #CEFF1A !important;
	color: #000 !important;
}
#sepiaFW-chat-menu {
	background: #000;
	color: #fff;
}
#sepiaFW-chat-menu button {
	/*background: rgba(255, 255, 255, 0.15);*/
	background: #262626;
	color: #CEFF1A;
	box-shadow: 0px 0px 0px 1px #dfdfdf inset;
}
.sepiaFW-notouch-device #sepiaFW-chat-menu button:hover {
    background-color: #fff !important;
    color: #000 !important;
}
#sepiaFW-chat-menu li {
	background: rgba(255, 255, 255, 0.15);
}
/*#sepiaFW-chat-menu li .sepiaFW-button-inline {
	background: #363636;
}*/
.sepiaFW-notouch-device #sepiaFW-chat-menu li .sepiaFW-button-inline:hover {
	background-color: #fff !important;
    color: #000 !important;
}

#sepiaFW-myEvents-buttons button,
#sepiaFW-myEvents-buttons-replaced button {
    background: #CEFF1A !important;
	color: #333 !important;
}
.sepiaFW-notouch-device #sepiaFW-myEvents-buttons button:hover {
	background-color: #e3e3e9 !important;
	color: #000000 !important;
}
#sepiaFW-main-window .chat-buttons-area button {
	background: #e3e3e9;
	color: #000000;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area button:hover {
	background: #CEFF1A;
	color: #333;
}

#sepiaFW-nav-label-note{
    border: 1px solid #16ABC3;
}

#sepiaFW-chat-output article {
    background: #4ec48f;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe {
	background: #16ABC3;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe b {
	color: #fff;
}
#sepiaFW-chat-output article.chatMe span {
	color: #fff;
}
#sepiaFW-chat-output article.chatMe.chatPm {
	border-left-color: rgba(255, 255, 255, 0.40);
}
#sepiaFW-chat-output article.chatOther.chatPm {
	border-left-color: rgba(255, 255,255, 0.40);
}
#sepiaFW-chat-output article.chatAssistant {
	background: #CEFF1A;
	color: #333;
}
#sepiaFW-chat-output article.chatAssistant b {
	color: #000000;
}
#sepiaFW-chat-output article.chatAssistant.chatPm {
	border-left-color: rgba(255, 255, 255, 0.40);
}

.sepiaFW-button {
	background-color: #333;
	color: #CEFF1A;
}
.sepiaFW-notouch-device .sepiaFW-button:hover {
	background-color: #CEFF1A;
	color: #333;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	/*background: #16ABC3;*/
	/*background: #4ec48f;*/
	background: #CEFF1A;
    color: #000;
	/*color: #fff;*/
}
#sepiaFW-chat-controls-form.touch-bar-controls #sepiaFW-swipeBar-menu-controls {
	background: #000;
    color: #fff;
}

/*----- Popup ------*/

#sepiaFW-popup-message  {
	background: #000;
}
#sepiaFW-popup-message button {
	background-color: #CEFF1A;
}

/*----- cards ------*/

.sepiaFW-cards-button,
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
	background: #CEFF1A;
	color: #121212;
	border: 1px solid #dadada;
}

.sepiaFW-cards-list-title {
	background: #121212; /*rgba(225, 225, 245, 1.00);*/
	color: #fff; /*#000;*/
}

.sepiaFW-cards-list-title.newsHeader {
    background: #fcfcfc;
	color: #000;
}
.sepiaFW-cards-list-title.newsHeader button {
	color: #CEFF1A !important;
}
.sepiaFW-cards-list-title.newsHeader button:hover {
	color: #000 !important;
}
.sepiaFW-cards-list-title.newsHeader .sepiaFW-cards-list-contextMenu {
	background: #eeeeee;
    color: #000;
}

.sepiaFW-cards-list-body .listElement .checked {
    background: #4ec48f;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #CEFF1A;
}
.sepiaFW-cards-list-body .listElement .listRight {
    border-color: #fcfcfc;
	background: #d2d2dd;
}
.sepiaFW-cards-list-footer {
	background: #CEFF1A;
	color: #000;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #121212;
}

/*----- channels -----*/

#sepiaFW-chat-channel-controls button {
	color: #CEFF1A;
}
#sepiaFW-chat-channellist .my-channel::after,
#sepiaFW-chat-channellist .public::after,
#sepiaFW-chat-userlist .assistant::after,
#sepiaFW-chat-channellist .active::before {
    color: #CEFF1A;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
	/*color: #fff;
	background: #16ABC3;*/
	border-top: 1px solid #333;
}
.sepiaFW-notouch-device #sepiaFW-teachUI-nav-bar button:hover {
	color: #000 !important;
    background-color: #fff !important;
}
#sepiaFW-teachUI-view {
    background: #000;
}
#sepiaFW-teachUI-view label {
    color: #CEFF1A;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #CEFF1A !important;
    color: #333 !important;
}