@font-face {
  font-family: 'sepia-fw';
  src: url('sepia-fw.woff?hnem6u') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="sepia-icon-"], [class*=" sepia-icon-"] {
  font-family: 'sepia-fw' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sepia-icon-font {
	font-size: 24px;
}
.sepia-icon-font * {
  font-weight: normal !important;
}
.sepia-icon-font.s14 {
	font-size: 14px;
  margin: 0 1px;
}
.sepia-icon-font.s18 {
	font-size: 18px;
}
.sepia-icon-font.s36 {
	font-size: 36px;
}
.sepia-icon-font.s48 {
	font-size: 48px;
}
.sepia-icon-font.md-btn {
	font-size: 22px;
}
.sepia-icon-font span {
	padding: 0 !important;
  margin: 0 !important;
}

.sepia-icon-sepia_bw span {
  position: relative;
}
.sepia-icon-sepia_bw .path1:before {
  content: "\e900";
  color: inherit;
}
.sepia-icon-sepia_bw .path2:before {
  content: "\e901";
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgba(155, 155, 155, 0.5);
}
