html {
	background-image: url(../img/cherryBlossomInk.png);
}
#sepiaFW-main-window {
	border-color: #503040;
}

#sepiaFW-pC 	{ background-color: #503040; }
#sepiaFW-sC 	{ background-color: #883446; }
#sepiaFW-sC2 	{ background-color: #f1ecff; }
#sepiaFW-aC 	{ background-color: #eebcb4; }
#sepiaFW-aC2 { background-color: rgba(160, 145, 153, 1.00); }
#sepiaFW-asC { background-color: #503040; }
#sepiaFW-adC { background-color: gold; }

#sepiaFW-login-box, #sepiaFW-nav-bar, #sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: #503040;
	color: #fff;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: #503040;
	color: #fff;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #883446;
	color: #fff;
}
#sepiaFW-login-box button {
	background: #883446;
	color: #fff;
}
#sepiaFW-assist-btn-area {
	border-color: #503040;
}

#sepiaFW-chat-controls-speech-box > div {
	background: #503040;
	color: #fff;
}

.sepiaFW-menu {
	background: rgba(160, 145, 153, 1.00);
	color: #fff;
}
#sepiaFW-chat-menu {
	background: rgba(245, 234, 238, 1.00);
	color: #503040;
}
#sepiaFW-chat-menu button {
	background: #503040;
	color: #fff;
}
#sepiaFW-chat-menu li {
	background: rgba(215, 155, 155, 0.12);
}

#sepiaFW-myEvents-buttons button,
#sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-myEvents-buttons button {
    background: #883446;
	color: #fff;
}
#sepiaFW-myEvents-buttons button:hover {
	background: #503040;
	color: #fff;
}
/*
#sepiaFW-main-window .chat-buttons-area button,
.sepiaFW-touch-device #sepiaFW-main-window .chat-buttons-area button {
	background-color: rgba(235, 235, 255, 0.75);
	color: #2f3035;
}
*/
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background-color: #eebcb4;
	color: #fff;
}

#sepiaFW-nav-label-note{
    border: 1px solid #eebcb4;
}

#sepiaFW-chat-output article {
    background: #F5EAEE;
	color: #503040;
}
#sepiaFW-chat-output article.chatMe{
	background: #eebcb4;
	color: #503040;
}
#sepiaFW-chat-output article.chatMe b{
	color: #503040;
}
#sepiaFW-chat-output article.chatAssistant {
	background: #883446;
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(255, 185, 255, 0.33);
}
#sepiaFW-chat-output article.chatMe.chatPm{
	border-left-color: rgba(255, 255, 255, 0.50);
}
#sepiaFW-chat-output article.chatOther.chatPm{
	border-left-color: rgba(255, 0, 85, 0.33);
}

.sepiaFW-button {
	background-color: #503040;
	color: #883446;
}
.sepiaFW-button:hover {
	background-color: #883446;
	color: #503040;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #883446;
	color: #fff;
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
	background: rgba(235, 225, 230, 0.75);
}

.sepiaFW-cards-list-title {
	background: #eebcb4;
	/*color: #503040;*/
	color: #fff;
}
.sepiaFW-cards-button,
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
	background: #883446;
    color: #fbf3f6;
}
.sepiaFW-cards-list-title.newsHeader button {
	color: #883446 !important;
}
.sepiaFW-cards-list-footer {
	background: #fbf3f6;
    color: #503040;
}
.sepiaFW-cards-list-body .listElement .listRight {
    border-color: #e5e5e5;
	background: #fbf3f6;
	color: #503040;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #503040;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: #8BC34A;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #faf888;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: #883446;
    color: #fff;
}
#sepiaFW-teachUI-view label {
    color: #eebcb4;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #883446 !important;
    color: #fff !important;
}