html {
	background-image: url(../img/cycling.png);
}
#sepiaFW-main-window {
	border-color: #4B6688;
}

#sepiaFW-pC 	 { background-color: #4B6688; }
#sepiaFW-sC 	 { background-color: #312F3F; }
#sepiaFW-sC2 { background-color: #684744; }
#sepiaFW-aC 	 { background-color: #BD584F; }
#sepiaFW-aC2 { background-color: #B5B8C9; }
#sepiaFW-asC { background-color: #4B6688; 	}
#sepiaFW-adC { background-color: rgba(255,235,0,0.95);	}

#sepiaFW-login-box, #sepiaFW-nav-bar, #sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: #4B6688;
	color: #fff;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: #4B6688;
	color: #fff;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #312F3F;
	color: #fff;
}
#sepiaFW-login-box button {
	background: #312F3F;
	color: #fff;
}
#sepiaFW-assist-btn-area {
	border-color: #4B6688;
}

.sepiaFW-menu {
	background: #684744;
	color: #fff;
}
#sepiaFW-chat-menu {
	background: #684744;
	color: #fff;
}
#sepiaFW-chat-menu button {
	background: #4B6688;
	color: #fff;
}
#sepiaFW-chat-menu li {
	background: rgba(35, 0, 0, 0.1);
}

#sepiaFW-nav-label-note{
    border: 1px solid #312f3f;
}

#sepiaFW-chat-output article {
    background: #684744;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe{
	background: #B5B8C9;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe b {
	color: #4B6688;
}
#sepiaFW-chat-output article.chatMe span {
	color: #4B6688;
}
#sepiaFW-chat-output article.chatAssistant {
	background: #312F3F;
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(255, 185, 255, 0.33);
}
#sepiaFW-chat-output article.chatMe.chatPm{
	border-left-color: rgba(255, 255, 255, 0.50);
}
#sepiaFW-chat-output article.chatOther.chatPm{
	border-left-color: rgba(255, 0, 85, 0.33);
}

.sepiaFW-button {
	background-color: #4B6688;
	color: #fff;
}
.sepiaFW-button:hover {
	background-color: #312F3F;
	color: #fff;
}

#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background: #312F3F;
	color: #fff;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background-color: #b5b8c9;
	color: #fff;
}

/*----- cards ------*/

.sepiaFW-cards-list-title {
	background: #B5B8C9;
	color: #fff;
}
.sepiaFW-cards-list-title.newsHeader button {
	color: #312F3F !important;
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #4B6688;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: #4B6688;
    color: #fff;
}
#sepiaFW-teachUI-view label {
    color: #B5B8C9;
}
#sepiaFW-teachUI-view a,
#sepiaFW-teachUI-view a:visited {
	color: #b5b8c9;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #4B6688 !important;
    color: #fff !important;
}