html {
	background-image: url(../img/SEPIA_back-w.png);
	background-size: auto 30%;
	background-color: #000;
}
#sepiaFW-main-window {
	border: 0;
	border-radius: 0;
	/*box-shadow: inset 0px 0px 0px 1px #eeeeee;*/
}
@media (min-width: 480px) and (min-height: 481px) {
	.sepiaFW-top-layer-view {
		border-radius: 0px;
	}
}

#sepiaFW-pC 	{ background-color: #000; }
#sepiaFW-sC 	{ background-color: #eeeeee; }
#sepiaFW-sC2 	{ background-color: #19191b; }
#sepiaFW-aC 	{ background-color: #ff0000; }
#sepiaFW-aC2 	{ background-color: #dfe0f5; }
#sepiaFW-asC 	{ background-color: #ceff1a; }
#sepiaFW-adC 	{ background-color: #ceff1a; }
#sepiaFW-lC 	{ background-color: rgba(200, 200, 200, 0.50); 	}

#sepiaFW-login-box, #sepiaFW-nav-bar, 
#sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: #000;
	border: 1px solid #eeeeee;
	color: #eeeeee;
}
html.landscape-small #sepiaFW-nav-bar {
	border: 0;
}
#sepiaFW-chat-controls {
	background: linear-gradient(rgba(0,0,0,0), #000, #000);
	border-bottom: 1px solid #000;
}
#sepiaFW-chat-controls.full-screen {
	background: linear-gradient(rgba(0,0,0,0), #000);
}

#sepiaFW-nav-bar {
	border-radius: 3px;
}
#sepiaFW-chat-controls-form {
	border-radius: 28px 3px 3px 28px;
}
#sepiaFW-chat-controls-right {
	border-radius: 3px 28px 28px 3px;
}

#sepiaFW-main-window {
	color: #eeeeee;
}
#sepiaFW-main-window h2 {
	font-weight: 300;
}
#sepiaFW-main-window input, #sepiaFW-login-box input {
	background: #000;
	color: #eeeeee;
}
#sepiaFW-chat-input,
#sepiaFW-login-box input {
	border: 1px solid #eeeeee !important;
}
#sepiaFW-main-output-carousel .sepiaFW-carousel-pane {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}
html.landscape-small #sepiaFW-main-output-carousel .sepiaFW-carousel-pane {
    border-left: 0;
    border-right: 0;
}
#sepiaFW-teachUI-view .sepiaFW-carousel-pane,
#sepiaFW-frames-view .sepiaFW-carousel-pane {
    border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.sepiaFW-layer-header {
	border: 1px solid #eeeeee;
	background: #19191b;
}
/*.sepiaFW-myEvents-titleNote,
.sepiaFW-myFirstStart-titleNote,
.sepiaFW-myCustomButtons-titleNote {
    font-weight: 300 !important;
}*/
@media (max-width: 480px) {
	#sepiaFW-main-output-carousel .sepiaFW-carousel-pane {
		border-color: transparent !important;
	}
	#sepiaFW-teachUI-view .sepiaFW-carousel-pane,
	#sepiaFW-frames-view .sepiaFW-carousel-pane {
		border-color: transparent !important;
	}
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: #000;
	color: #eeeeee;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #000;
	color: #eeeeee;
}
#sepiaFW-login-box button {
	background: #eeeeee;
	color: #000;
}
#sepiaFW-assist-btn-area {
	background-color: #000;
	border: 1px solid #eeeeee;
	padding: 8px;
}
#sepiaFW-assist-btn-area button,
.sepiaFW-touch-device  #sepiaFW-assist-btn-area button:hover {
	border: 0px solid #eeeeee;
	background: #19191b !important;
}
.sepiaFW-notouch-device #sepiaFW-assist-btn-area button:hover {
	/*border: 1px solid #888;*/
}
#sepiaFW-assist-btn-orbiters {
    top: 2px;
    left: 16px;
    width: 20px;
    height: 49px;
}
#sepiaFW-assist-btn-orbiter1 {
    right: 8px;
    bottom: 1px;
    height: 11px;
	width: 3px;
	border: 1px solid #638613;
	border-radius: 3px;
}

#sepiaFW-chat-controls-speech-box > div {
	background: #121212;
	color: #e8e8e8;
}

.sepiaFW-menu {
	background: #19191b;
	color: #eeeeee;
}
.sepiaFW-menu input {
	background: transparent !important;
}
.sepiaFW-cards-list-contextMenu {
	background: #121212;
}
#sepiaFW-chat-menu {
	background: #19191b; 
	color: #eeeeee;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu button {
	background: #000;
	color: #eeeeee;
	border: 1px solid #eeeeee;
}
#sepiaFW-chat-menu button:hover {
	background: #eeeeee;
	color: #000;
}
.sepiaFW-touch-device #sepiaFW-chat-menu button:hover {
	background: #000;
	color: #eeeeee;
}
#sepiaFW-chat-menu li {
	background: rgba(155, 155, 155, 0.04);
}
.sepiaFW-notouch-device .sepiaFW-menu li:hover {
	background: rgba(155, 155, 155, 0.07) !important;
}
.sepiaFW-toggle-btn .on {
    background: #ceff1a;
}

#sepiaFW-main-window .chat-buttons-area button {
	border: 1px solid #eeeeee;
}
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background: #000;
}

#sepiaFW-myEvents-buttons button,
#sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-myEvents-buttons button {
    background: #000;
	color: #eeeeee;
	border: 1px solid #eeeeee !important;
}
#sepiaFW-myEvents-buttons button:hover {
	background: #eeeeee;
	color: #000;
}
/*
#sepiaFW-main-window .chat-buttons-area button,
.sepiaFW-touch-device #sepiaFW-main-window .chat-buttons-area button {
	background-color: rgba(235, 235, 255, 0.75);
	color: #2f3035;
}
*/

#sepiaFW-nav-label-note {
    border: 1px solid #ceff1a;
	background: #000;
	color: #eeeeee;
}

#sepiaFW-chat-output .statusUpdate {
    background: #121212;
    color: #eeeeee;
}
#sepiaFW-chat-output article:not(.statusUpdate) {
	background: rgba(216, 250, 0, 0.20);
	color: #eeeeee;
    border: 1px solid #ceff1a;
    padding-left: 10px;
}
#sepiaFW-chat-output article:not(.statusUpdate) b {
	color: #888;
}
#sepiaFW-chat-output article.chatMe {
	background: #000;
	color: #eeeeee;
	border-color: #eeeeee;
}
#sepiaFW-chat-output article.chatMe b {
	color: #888;
}
#sepiaFW-chat-output article.chatMe span {
	color: #eeeeee;
}
#sepiaFW-chat-output article.chatAssistant {
	background: #121212;
	color: #eeeeee;
	border-color: #eeeeee;
}
#sepiaFW-chat-output article.chatAssistant b {
	color: #888;
}
#sepiaFW-chat-output article.chatAssistant.chatPm {
	border-left-color: #ceff1a;
	border-left-width: 2px;
}
#sepiaFW-chat-output article.chatMe.chatPm {
	border-left-color: rgba(255, 0, 0, 1.0);
	border-left-width: 2px;
}
#sepiaFW-chat-output article.chatOther.chatPm {
	border-left-color: rgba(255, 0, 0, 1.0);
	border-left-width: 2px;
}

.sepiaFW-button {
	background-color: #19191b;
	color: #eeeeee;
}
.sepiaFW-button:hover {
	background-color: #eeeeee;
	color: #19191b;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #000;
	color: #eeeeee;
}

/*----- pop-ups / overlays -----*/

#sepiaFW-loader {
	background:rgba(255, 255, 255, 0.33);
}
#sepiaFW-loader:before {
	background:rgba(255, 255, 255, 0.22);
}
#sepiaFW-loader:after {
	background:rgba(255, 255, 255, 0.11);
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
    background: #151516;
}

.sepiaFW-help-view {
    background: #151516;
}

.sepiaFW-cards-button, 
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
    background: rgba(216, 250, 0, 0.20);
    color: #eeeeee;
    border: 1px solid #ceff1a;
}

.sepiaFW-cards-list-title {
	background: #19191b;
    color: #eeeeee;
}
.sepiaFW-cards-list-title.newsHeader button {
    color: #19191b !important;
}
.sepiaFW-cards-list-body {
    color: #051525;
}
.sepiaFW-cards-list-footer {
    background: #19191b;
}
.sepiaFW-cards-list-body > div > div {
    background: #000 !important;
	color: #eeeeee;
	/*border-left-color: #19191b !important;*/
}
.dark-skin .sepiaFW-cards-list-body .fullWidthItem .cardItemBlock {
	background: #000;
	color: #eeeeee;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: #e8e8e8 !important;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #555 !important;
}
.sepiaFW-notouch-device .sepiaFW-cards-list-body .listElement .listRight:hover {
	background: #f30000 !important;
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #000 !important;
}
.sepiaFW-cards-list-body .weatherNowDetails li {
    background: #000;
    color: #eeeeee;
}

#sepiaFW-audio-ctrls-canvas {
    background: #404050;
}

/*----- Tiny style -----*/

.sepiaFW-tiny-app #sepiaFW-chat-controls-right {
	border: 1px solid #eeeeee;
	border-radius: 50%;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-view {
    background: #000;
}
/*#sepiaFW-teachUI-nav-bar {
	border-top: 1px solid #333;
}*/
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #000 !important;
    color: #eeeeee !important;
	border: 1px solid #eeeeee;
}