#sepiaFW-frames-view {
	display: flex;
    flex-direction: column;
	background: #fff;
	color: #000;
}
#sepiaFW-frames-view.dark {
	background: #000;
	color: #fff;
}

#sepiaFW-frames-nav-bar {
	background: #000;
	color: #fff;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#sepiaFW-frames-nav-bar .entry {
	flex: 1 1 auto;
	margin: 0px;
	background: transparent;
	color: inherit;
	font-size: 18px;
	display: flex;
    justify-content: center;
    align-items: center;
}
#sepiaFW-frames-nav-bar .entry i {
	margin: 0 8px;
}
#sepiaFW-frames-close {
	max-width: 80px;
}
#sepiaFW-frames-close i {
	margin: 0 !important;
}
#sepiaFW-frames-nav-bar-page-indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	display: flex;
}
#sepiaFW-frames-nav-bar-page-indicator div {
	flex: 1 1 auto;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}
#sepiaFW-frames-nav-bar-page-indicator div.active {
	background: rgba(255, 255, 255, 0.5);
}

.sepiaFW-frames-page {
	padding: 8px 16px;
	overflow-y: auto;
	/*overflow-y: overlay;*/
	-webkit-overflow-scrolling: touch;
}
.sepiaFW-frames-page.flat {
	padding: 0;
	overflow: hidden;
}
.sepiaFW-frames-page a {
	color: #4ec48f;
}
.sepiaFW-frames-page a:visited {
	color: #4ec48f;
}
.sepiaFW-frames-page button {
	background: #000 !important;
	color: #ceff1a !important;
}
.sepiaFW-frames-page.dark button {
	background: #ceff1a !important;
	color: #000 !important;
}
.sepiaFW-frames-page button.dangerous {
	background: #f33 !important;
	color: #fff !important;
}

.sepiaFW-frames-page iframe {
	border: 0;
}

.sepiaFW-frames-page .full-size {
	width: 100%;
	height: 100%;
}

.sepiaFW-frames-page .info-text {
	color: #0aa05c;
	margin: 12px 0;
	font-size: 14px;
}
.sepiaFW-frames-page.dark .info-text {
	color: #ceff1a;
}
.sepiaFW-frames-page .info-text.centered {
	text-align: center;
	max-width: 100%;
}

.sepiaFW-frames-page .spacer {
	width: 100%;
	height: 18px;
}

.sepiaFW-frames-page .group-container {
	display: flex; 
	justify-content: center;
	flex-wrap: wrap;
}
.sepiaFW-frames-page .group {
	width: 100%; 
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	margin: 8px;
}
.sepiaFW-frames-page .group.column {
	flex-direction: column;
}
.sepiaFW-frames-page .group.center {
	justify-content: center; 
}
.sepiaFW-frames-page .group.extra-space-tb {
	margin-top: 16px; 
	margin-bottom: 16px;
}
.sepiaFW-frames-page .group label {
	margin: 0 8px !important;
}
.sepiaFW-frames-page .group label + * {
	margin: 0 8px !important;
}
.sepiaFW-frames-page .group input {
	width: auto !important;
}
.sepiaFW-frames-page .group.fill {
	flex-wrap: wrap;
}
.sepiaFW-frames-page .group.fill label {
	flex: 0 0 auto;
	min-width: 33%;
	padding: 8px 0;
}
.sepiaFW-frames-page .group.fill input {
	flex: 1 0 auto;
	max-width: 100%;
}
.sepiaFW-frames-page .group .sepiaFW-toggle-btn {
	border: 1px solid;
	border-color: inherit;
}
.sepiaFW-frames-page .group .inside-button {
	position: absolute;
    right: 0;
    top: 5px;
    background: transparent !important;
    color: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 18px !important;
}

.sepiaFW-frames-page .subgroup {
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	padding: 4px;
    min-width: 160px;
}
.sepiaFW-frames-page .subgroup.menu-button {
	font-size: 21px;
	cursor: pointer;
	color: #4ec48f;
	padding: 8px;
    min-width: 66%;
}
.sepiaFW-frames-page .subgroup.menu-button:hover {
	color: #000;
}
.sepiaFW-frames-page.dark .subgroup.menu-button {
	color: #ceff1a;
}
.sepiaFW-frames-page.dark .subgroup.menu-button:hover {
	color: #fff;
}

#sepiaFW-frames-view .sepiaFW-frames-page .group-container input {
	margin: 0px 0px 0px 0px;
    padding: 0px 5px 3px 5px;
    cursor: pointer;
	background: transparent;
	border: 1px solid transparent;
    border-bottom: 1px solid #000;
    color: inherit;
    text-align: center;
}
#sepiaFW-frames-view .sepiaFW-frames-page.dark .group-container input {
	border-bottom: 1px solid #fff;
}
#sepiaFW-frames-view .sepiaFW-frames-page .group-container input:disabled {
	opacity: 0.66;
	color: #4ec48f;
    cursor: not-allowed;
}
#sepiaFW-frames-view .sepiaFW-frames-page.dark .group-container input:disabled {
	color: #ceff1a;
}
#sepiaFW-frames-view .sepiaFW-frames-page .group-container input[type='checkbox'] {
	min-width: 15px;
	min-height: 15px;
    padding: 0;
	margin: 4px;
	border-bottom: 0;
}
