html {
	background-image: url(../img/SEPIA_odyssey-w2.png);
	background-color: #051525;
	background-size: auto 50%;
}
#sepiaFW-main-window {
	border: 0;
	box-shadow: inset 0px 0px 6px 1px #15abc3;
}
@media (min-width: 480px) and (min-height: 481px) {
	.sepiaFW-top-layer-view {
		border-radius: 0px;
	}
}
.sepiaFW-results-container {
	scrollbar-color: rgba(20, 120, 140, 0.2) transparent;
}

#sepiaFW-pC 	{ background-color: #102030; }
#sepiaFW-sC 	{ background-color: #15abc3; }
#sepiaFW-sC2 	{ background-color: #dfe0f5; }
#sepiaFW-aC 	{ background-color: #ff0000; }
#sepiaFW-aC2 	{ background-color: #dfe0f5; }
#sepiaFW-asC 	{ background-color: #15abc3; }
#sepiaFW-adC 	{ background-color: #ceff1a; }
#sepiaFW-lC 	{ background-color: rgba(200, 200, 200, 0.50); 	}

#sepiaFW-login-box, #sepiaFW-nav-bar, 
#sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: rgba(16, 32, 48, 0.75);
	border: 1px solid #15abc3;
	box-shadow: 0 0 5px #15abc3;
	color: #fff;
}
html.landscape-small #sepiaFW-nav-bar {
	border: 0;
	margin: 0;
}
html.landscape-small #sepiaFW-chat-controls {
	background: rgba(16, 32, 48, 0.75) !important;
}
html.landscape-small #sepiaFW-chat-controls-right {
	border: 0;
    box-shadow: unset;
    background: transparent;
}
.sepiaFW-ao-mode #sepiaFW-nav-bar, 
.sepiaFW-ao-mode #sepiaFW-chat-controls-form, 
.sepiaFW-ao-mode #sepiaFW-chat-controls-right {
	border: 0 !important;
	box-shadow: 0 0 0px !important;
}
#sepiaFW-nav-bar {
	margin-top: 1px;
}
#sepiaFW-chat-controls {
	background: linear-gradient(rgba(5,25,45,0), #051525, #051525) !important;
	border-bottom: 1px solid #051525;
	overflow: visible;
}
#sepiaFW-chat-controls.full-screen {
	background: linear-gradient(rgba(5,25,45,0), #051525) !important;
}
#sepiaFW-chat-controls.chat-menu {
	background: #051525;
}

#sepiaFW-main-window {
	color: #fff;
}
#sepiaFW-main-window input, #sepiaFW-login-box input {
	background: rgba(36, 54, 71, 0.5);
	color: #fff;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #15abc3;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: rgba(20, 163, 187, 0.66);
	color: #fff;
	border-color: #fff;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls button:hover,
.sepiaFW-notouch-device #sepiaFW-nav-bar button:hover {
	background: transparent;
	text-shadow: 0px 0px 2px #fff;
}
#sepiaFW-login-form button {
	background: rgba(20, 163, 187, 0.66);
	color: #fff;
	border: 1px solid #fff !important;
    box-shadow: 0 0 5px #fff !important;
}
#sepiaFW-assist-btn-area {
	background-color: #102030;
	border: 1px solid #15abc3;
	box-shadow: 0 0 5px #15abc3, inset 0 0 5px #15abc3;
	padding: 8px;
}
#sepiaFW-assist-btn-area button {
	border: 1px solid #fff;
	box-shadow: 0 0 5px #fff, inset 0 0 5px #fff;
	background: #142534 !important;
}
#sepiaFW-assist-btn-orbiters {
    top: 2px;
    left: 16px;
    width: 20px;
    height: 49px;
}
#sepiaFW-assist-btn-orbiter1 {
	box-shadow: inset 0 0 2px #fff;
    right: 8px;
    bottom: 1px;
    height: 11px;
	width: 3px;
	border: 1px solid #638613;
	border-radius: 3px;
}

#sepiaFW-chat-controls-speech-box {
	background: rgba(24, 40, 58, 0.92);
	border: 1px solid #15abc3;
    box-shadow: 0 0 5px #15abc3;
}
#sepiaFW-chat-controls-speech-box > div {
	background: transparent;
	color: #fff;
}

.sepiaFW-menu {
	background: rgba(21, 171, 195, 0.95);
	color: #fff;
	box-shadow: inset 0 0 5px 1px #fff;
}
.sepiaFW-menu input {
	background: transparent !important;
}
#sepiaFW-chat-menu {
	background: rgba(21, 171, 195, 1.00); 
	color: #fff;
	/*height: calc(100% - 106px);*/
}
/*#sepiaFW-chat-menu:not(.full-screen) {
	padding-bottom: 4px;
}*/
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu button {
	background: #102030;
	color: #fff;
	border: 1px solid #fff;
    box-shadow: 0 0 5px #fff;
}
#sepiaFW-chat-menu li {
	background: rgba(255, 255, 255, 0.14);
}
#sepiaFW-chat-menu button:hover {
	background: #fff;
	color: #102030;
}
.sepiaFW-touch-device #sepiaFW-chat-menu button:hover {
	background: #102030;
	color: #fff;
}
/*#sepiaFW-chat-controls-more-menu {
	bottom: 56px;
	padding-bottom: 4px;
}*/
#sepiaFW-chat-controls-more-menu button {
	background: #102030;
	color: #ECEBE7;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background: #ECEBE7;
	color: #102030;
}
#sepiaFW-chat-channel-view {
	top: 51px;
}
.sepiaFW-toggle-btn .on {
    background: #ceff1a;
}

#sepiaFW-main-window .chat-buttons-area button {
	border: 1px solid #15abc3;
	box-shadow: 0 0 5px #15abc3;
	color: #fff;
	/*background: rgba(16, 32, 48, 0.75);*/
	background: rgba(7, 43, 61, 0.75);
}

/*
#sepiaFW-myEvents-buttons button,
#sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-myEvents-buttons button {
    background: rgba(16, 32, 48, 0.75);
	color: #fff;
	border: 1px solid #15abc3 !important;
    box-shadow: 0 0 5px #fff !important;
}
#sepiaFW-myEvents-buttons button:hover {
	background: #fff;
	color: #102030;
}
*/
/*
#sepiaFW-main-window .chat-buttons-area button,
.sepiaFW-touch-device #sepiaFW-main-window .chat-buttons-area button {
	background-color: rgba(235, 235, 255, 0.75);
	color: #2f3035;
}
*/
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background-color: rgba(206, 255, 26, 0.25);
	color: #fff;
	border: 1px solid #ceff1a;
    box-shadow: 0 0 5px #ceff1a;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area .my-view-custom-button:hover {
	background-color: rgba(206, 255, 26, 0.55);
}

#sepiaFW-nav-label-note{
    border: 1px solid #ceff1a;
}

#sepiaFW-chat-output .statusUpdate {
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
}
#sepiaFW-chat-output article:not(.statusUpdate) {
	background: rgba(255, 127, 0, 0.25); /*rgba(16, 32, 48, 0.75);*/
	color: #fff;
    border: 1px solid #ff7f00;
    box-shadow: 0 0 5px #ff7f00;
    margin: 2px 30px 2px 6px;
    padding-left: 10px;
}
#sepiaFW-chat-output article:not(.statusUpdate) b {
	color: #ff7f00;
	text-shadow: 0px 0px 2px #ff7f00;
}
#sepiaFW-chat-output article:not(.statusUpdate) span{
	color: #ff7f00;
}
#sepiaFW-chat-output article.chatMe{
	margin: 2px 6px 2px 30px;
	background: rgba(206, 255, 26, 0.25);
	color: #fff;
	box-shadow: 0 0 5px #ceff1a;
	border-color: #ceff1a;
}
#sepiaFW-chat-output article.chatMe b{
	color: #ceff1a;
	text-shadow: 0px 0px 2px #ceff1a;
}
#sepiaFW-chat-output article.chatMe span{
	color: #ceff1a;
}
#sepiaFW-chat-output article.chatAssistant {
	background: rgba(21, 171, 195, 0.25); /*rgba(16, 32, 48, 0.75);*/
	color: #fff;
	box-shadow: 0 0 5px #15abc3;
	border-color: #15abc3;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #15abc3;
	text-shadow: 0px 0px 2px #15abc3;
}
#sepiaFW-chat-output article.chatAssistant span{
	color: #15abc3;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(255, 0, 0, 1.0);
	border-left-width: 2px;
}
#sepiaFW-chat-output article.chatMe.chatPm{
	border-left-color: #ceff1a;
	border-left-width: 2px;
}
#sepiaFW-chat-output article.chatOther.chatPm{
	border-left-color: rgba(255, 0, 0, 1.0);
	border-left-width: 2px;
}

.sepiaFW-button {
	background-color: #15abc3;
	color: #fff;
}
.sepiaFW-button:hover {
	background-color: #fff;
	color: #15abc3;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #102030;
	color: #fff;
}
#sepiaFW-chat-controls-form.touch-bar-controls #sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: transparent;
    color: #093b4d;
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
    background: rgba(255, 255, 255, 0.07);
}

.sepiaFW-help-view {
    background: rgba(33, 33, 33, 0.75);
}

.sepiaFW-cards-button,
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
	background: rgba(20, 163, 187, 0.66);
    color: #fff !important;
    box-shadow: 0 0 5px #15abc3;
	border: 1px solid #15abc3;
}

.sepiaFW-cards-list-title {
	background: rgba(20, 163, 187, 0.66);
    color: #fff;
    box-shadow: 0 0 5px #15abc3;
	border: 1px solid #15abc3;
}
.sepiaFW-cards-list-contextMenu {
	box-shadow: none;
}
.sepiaFW-cards-list-footer {
	background: rgba(20, 163, 187, 0.66);
    color: #fff;
    box-shadow: 0 0 5px #15abc3;
	border: 1px solid #15abc3;
}
.sepiaFW-cards-list-body {
    color: #051525;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: rgba(77, 255, 26, 0.55);
}
.sepiaFW-cards-list-body .listElement .inProgress {
	background: rgba(255, 235, 59, 0.55);
	/*background: rgba(255, 127, 0, 0.55);*/
}
.sepiaFW-cards-list-body .listElement .listRight {
    border-color: #ceff1a;
    background: #304050;
}
.sepiaFW-cards-list-body .listElement .listRight:hover {
	background: rgba(255, 0, 0, 0.95);
}

.sepiaFW-cards-list-title.newsHeader {
	background: rgba(20, 163, 187, 0.66) !important;
    text-shadow: 1px 1px 4px #fff, -1px -1px 4px #fff;
}
.sepiaFW-cards-list-body .listElement > div,
.sepiaFW-cards-list-body .newsArticle .newsCenter {
    background: rgba(48, 62, 80, 0.55);
	color: #fff;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: rgba(27, 195, 223, 0.70);
	color: #fff;
}
.sepiaFW-cards-list-body .weatherNowDetails li {
	background: rgba(48, 62, 80, 0.55);	/*rgba(4, 68, 91, 0.70);*/
    color: #fff;
}

.sepiaFW-cards-list-body .timeEvent > div,
.sepiaFW-cards-list-body .radioStation > div,
.sepiaFW-cards-list-body .weatherNowSmall > div,
.sepiaFW-cards-list-body .linkCard > div,
.dark-skin .sepiaFW-cards-list-body .fullWidthItem .cardItemBlock {
    background: rgba(20, 163, 187, 0.66);
    color: #fff !important;
    box-shadow: 0 0 5px #15abc3;
	border: 1px solid #15abc3;
}
.dark-skin .sepiaFW-cards-flexSize-container .cardBodyItem.fullWidthItem .cardItemOverlay {
	background: rgba(20, 163, 187, 1.0);
}

/*----- Frames ----- */

#sepiaFW-frames-view,
#sepiaFW-frames-view.dark {
	background: #102030;
	color: #eee;
}
#sepiaFW-frames-view:not(.sepiaFW-ao-mode) {
	/*border: 1px solid #15abc3;*/
    box-shadow: 0 0 5px #15abc3;
}
.sepiaFW-frames-page button {
    background: #15abc3 !important;
    color: #fff !important;
	box-shadow: 0 0 5px #fff;
	border: 1px solid #fff !important;
}
#sepiaFW-frames-nav-bar {
	background: #103041;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-view {
    background: #102030;
}
#sepiaFW-teachUI-nav-bar {
    background: #15abc3;
	color: #fff;
}
#sepiaFW-teachUI-view label {
    color: #dfe0f4;
	text-shadow: 0px 0px 2px #dfe0f4;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #15abc3 !important;
    color: #fff !important;
	box-shadow: 0 0 5px #fff;
	border: 1px solid #fff;
}