html {
	background-image: url(../img/SEPIA_odyssey-w2.png);
	background-size: auto 50%;
	background-color: #121415;
}
#sepiaFW-main-window {
	color: #f4f4f4;
}
@media (min-width: 480px) and (min-height: 481px) {
	#sepiaFW-main-window {
		border-color: #202426;
		border-width: 6px;
		border-radius: 0;
		/*overflow: hidden;*/ 	/* we can't use this with position fixed children, its buggy */
	}
	.sepiaFW-top-layer-view {
		border-radius: 0;
	}
}

#sepiaFW-pC 	{ background-color: #121415; }
#sepiaFW-sC 	{ background-color: #f4f4f4; }
#sepiaFW-sC2 	{ background-color: #1fe0ff; }
#sepiaFW-aC 	{ background-color: #e72134; }
#sepiaFW-aC2 	{ background-color: #1fe0ff; }
#sepiaFW-asC 	{ background-color: #f4f4f4; }
#sepiaFW-adC 	{ background-color: #ffeb3b; }
#sepiaFW-lC 	{ background-color: #6e7a82; }

#sepiaFW-navC 	{ background-color: #121415; }
#sepiaFW-statC 	{ background-color: #121415; }

#sepiaFW-login-box {
	background: #f4f4f4;
    color: #000;
	border-radius: 0;
	clip-path: polygon(0 10px, 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
}
#sepiaFW-login-box input {
	color: #121415;
	background: transparent;
	border: 0;
	border-bottom: 1px solid currentColor;
	border-radius: 0 !important;
}
#sepiaFW-login-box button {
	background: #121415;
	color: #f4f4f4;
}
#sepiaFW-login-form button {
	border-radius: 0 !important;
}
.sepiaFW-notouch-device #sepiaFW-login-box button:hover {
	background-color: #1fe0ff;
	color: #121415;
}
#sepiaFW-login-links a {
	opacity: 0.5;
}

#sepiaFW-login-box input, #sepiaFW-login-box button,
#sepiaFW-main-window input, #sepiaFW-main-window button, #sepiaFW-main-window article,
#sepiaFW-chat-menu select, .sepiaFW-toggle-btn {
    border-radius: 5px;
}

#sepiaFW-nav-bar-page-indicator {
	background: linear-gradient(to right, #1fe0ff 0%, #7ef0ff 50%, #1fe0ff 100%);
	border-top: 1px solid #121415;
}
#sepiaFW-nav-bar-page-indicator div.active {
    background: #fff;
}

#sepiaFW-nav-bar, #sepiaFW-chat-controls-form {
	background: #f4f4f4;
    color: #000;
}
#sepiaFW-chat-controls-right {
	background: #f4f4f4;
    color: #000;
}
#sepiaFW-chat-controls {
	background: linear-gradient(rgba(18, 20, 21, 0), #121415, #121415);
	border-bottom-color: #121415;
}
html.landscape-small #sepiaFW-chat-controls {
    background: #f4f4f4 !important;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #000;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #1fe0ff;
	text-shadow: 0 0 1px #1fe0ff;
}

#sepiaFW-main-window #sepiaFW-chat-input {
	background: #181a1d;
    color: #1fe0ff !important;
    border: 1px solid #1fe0ff;
    box-shadow: 0 0 0px 1px #181a1d, inset 0 0 2px 0px #1fe0ff;
}
#sepiaFW-assist-btn-area {
	border-color: #121415;
    border: 2px solid #1fe0ff;
    box-shadow: inset 0 0 0px 2px #181a1d;
	background: #f4f4f4 !important;
}
#sepiaFW-assist-btn-area button {
	border-radius: 23px !important;
	background: radial-gradient(#1fe0ff 20%, #00b3cb 100%) !important;
	border: 3px solid #181a1d;
	box-shadow: 0 0 4px 1px #1fe0ff;
}
.sepiaFW-notouch-device #sepiaFW-assist-btn:hover {
	background: radial-gradient(#7ef0ff 20%, #24cfe6 100%) !important;
	box-shadow: 0 0 4px 2px #1fe0ff;
}
#sepiaFW-assist-btn i {
	display: none !important;
}
#sepiaFW-assist-btn-area.listening button {
	background: radial-gradient(#e72134 20%, #c92131 100%) !important;
    box-shadow: 0 0 4px 1px #e72134;
}
#sepiaFW-assist-btn-area.speaking button {
	background: #7ef0ff !important;
}
#sepiaFW-assist-btn-area.awaitDialog button {
	background: #ffeb3b !important;
	box-shadow: 0 0 4px 1px #ffeb3b;
}
#sepiaFW-assist-btn-area.loading button {
	background: #6e7a82 !important;
	box-shadow: none;
}
#sepiaFW-assist-btn-orbiter1 {
	/*background: #1fe0ff;*/
	bottom: 0px;
    right: 0px;
    border-radius: 3px;
}

#sepiaFW-chat-controls-speech-box {
	background: linear-gradient(to right, #1fe0ff 0%, #7ef0ff 50%, #1fe0ff 100%);
}
#sepiaFW-chat-controls-speech-box > div {
	background: #181a1d;
	color: #f4f4f4;
}

.sepiaFW-menu {
	background: #181a1d;
    color: #f4f4f4;
}
.sepiaFW-menu input {
	background: transparent !important;
}
#sepiaFW-chat-controls-more-menu {
	background: #181a1d;
	max-width: none;
}
#sepiaFW-chat-controls-more-menu button,
.sepiaFW-touch-device #sepiaFW-chat-controls-more-menu button:hover {
	background: #1fe0ff;
    color: #121415;
}
.sepiaFW-menu .sepiaFW-toggle-btn .on {
    background: #ffeb3b;
}
#sepiaFW-chat-menu {
	background: #181a1d;
    color: #f4f4f4;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu li {
	background: rgba(61, 67, 74, 0.08);
}
.sepiaFW-notouch-device .sepiaFW-menu li:not(.sepiaFW-cards-button):hover {
    background: rgba(61, 67, 74, 0.33) !important;
}
#sepiaFW-chat-menu button,
.sepiaFW-touch-device #sepiaFW-chat-menu button:hover {
	border: 0;
	background-color: #1fe0ff;
	color: #121415;
}
#sepiaFW-chat-menu button {
	margin: 4px;
}
.sepiaFW-notouch-device #sepiaFW-chat-menu button:hover,
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background-color: #f4f4f4 !important;
	color: #181a1d !important;
}
#sepiaFW-chat-channel-controls button {
    color: #1fe0ff !important;
}

.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area button:hover {
	color: #f4f4f4 !important;
}
#sepiaFW-main-window .chat-buttons-area button {
    background: #181a1d !important;
    color: #1fe0ff !important;
    border: 1px solid #1fe0ff;
    box-shadow: 0 0 2px 0px #1fe0ff;
	/*clip-path: polygon(0 10px, 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);*/
}
#sepiaFW-main-window #sepiaFW-myCustom-buttons button {
	background-color: #f4f4f4 !important;
    color: #000 !important;
    clip-path: none;
    border-radius: 38px;
    border: 1px solid #202426;
    box-shadow: 0 0 0px 2px #1fe0ff, 0 0 8px 1px #1fe0ff;
}
.sepiaFW-notouch-device #sepiaFW-main-window #sepiaFW-myCustom-buttons button:hover {
    background-color: #fff !important;
	color: #222 !important;
}

#sepiaFW-chat-output .statusUpdate {
    background: rgba(255, 255, 255, 0.05);
    color: #f4f4f4;
}

#sepiaFW-chat-output article {
    background: #4a5358;
	color: #fff;
}
#sepiaFW-chat-output article.chatOther {
	padding-left: 11px;
	margin-left: 4px;
	border: 1px solid #202426;
    box-shadow: 0 0 0px 2px #1fe0ff, 0 0 8px 1px #1fe0ff;
}
#sepiaFW-chat-output article.chatMe {
	background: #1fe0ff;
	color: #121415;
	padding-left: 11px;
	margin-right: 4px;
    border: 1px solid #202426;
    box-shadow: 0 0 0px 2px #1fe0ff, 0 0 8px 1px #1fe0ff;
}
#sepiaFW-chat-output article.chatAssistant {
	background: #f4f4f4;
    color: #121415;
    padding-left: 11px;
	margin-left: 4px;
    border: 1px solid #202426;
    box-shadow: 0 0 0px 2px #1fe0ff, 0 0 8px 1px #1fe0ff;
}
#sepiaFW-chat-output article.chatMe.chatPm,
#sepiaFW-chat-output article.chatAssistant.chatPm {
	border-left-color: #202426;
}
#sepiaFW-chat-output article.chatMe b,
#sepiaFW-chat-output article.chatMe span,
#sepiaFW-chat-output article.chatAssistant b,
#sepiaFW-chat-output article.chatAssistant span {
	color: #121415;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #f4f4f4;
    color: #121415;
}

/*----- pop-ups / overlays -----*/

#sepiaFW-loader {
	background:rgba(255, 255, 255, 0.33);
}
#sepiaFW-loader:before{
	background:rgba(255, 255, 255, 0.22);
}
#sepiaFW-loader:after{
	background:rgba(255, 255, 255, 0.11);
}
#sepiaFW-popup-message i {
    color: #ffeb3b;
}
#sepiaFW-popup-message .accent {
    color: #1fe0ff;
}

/*----- details -----*/

#sepiaFW-nav-label-note {
	background: #1fe0ff;
	color: #121415;
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
	background: #181a1d;
	border-radius: 5px;
}
.sepiaFW-cards-list-contextMenu {
	background: #202426;
}

.sepiaFW-cards-list-body .itemLeft,
.sepiaFW-cards-list-body .itemCenter,
.sepiaFW-cards-list-body .itemRight,
.sepiaFW-cards-list-body .cardItemBlock {
    border-radius: 5px !important;
}
.sepiaFW-cards-list-body .listElement > div,
.sepiaFW-cards-list-body .weatherNowSmall > div,
.sepiaFW-cards-list-body .linkCard > div,
.sepiaFW-cards-list-body .timeEvent > div,
.sepiaFW-cards-list-body .newsArticle .newsCenter,
.sepiaFW-cards-list-body .radioStation > div,
.sepiaFW-cards-list-body .listElement .listRight,
.sepiaFW-cards-list-body .newsArticle .newsCenter {
	background: #181a1d;
	color: #1fe0ff !important;
	box-shadow: 0 0 2px 0px #1fe0ff, inset 0 0 1px 0px #1fe0ff;
	border: 1px solid #1fe0ff;
}

.sepiaFW-cards-button, 
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
    color: #121415;
    background: #1fe0ff;
}

.sepiaFW-cards-list-title {
	color: #121415;
    background: #1fe0ff;
    border-radius: 5px;
}
.sepiaFW-cards-list-title button:hover {
	color: #202426 !important;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: #1fe0ff;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #ffeb3b;
}
.sepiaFW-notouch-device .sepiaFW-cards-list-body .timeEvent .timeEventRight:hover,
.sepiaFW-notouch-device .sepiaFW-cards-list-body .listElement .listRight:hover {
	background: #e72134;
	color: #f4f4f4;
}
.sepiaFW-cards-list-footer,
.sepiaFW-cards-list-footer.newsFooter {
	background: #202426;
    border-radius: 5px;
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #1fe0ff;
}
.sepiaFW-cards-list-body .weatherNowDetails li {
    background: #202426;
    color: #f4f4f4;
}
.sepiaFW-cards-list-title.newsHeader {
    background: #f4f4f4;
	color: #121415;
}

/* ---- Frames + Teach-UI ---- */

#sepiaFW-frames-nav-bar,
#sepiaFW-teachUI-nav-bar {
    background: #121415;
    color: #f4f4f4;
}
#sepiaFW-frames-view,
#sepiaFW-frames-view.dark,
#sepiaFW-teachUI-view {
    background: #121415;
}
#sepiaFW-frames-view .sepiaFW-frames-page a,
.sepiaFW-frames-page .info-text,
.sepiaFW-frames-page.dark .info-text,
#sepiaFW-teachUI-view label {
    color: #1fe0ff;
}
.sepiaFW-frames-page button,
.sepiaFW-frames-page.dark button,
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #1fe0ff !important;
    color: #121415 !important;
}
#sepiaFW-frames-view .sepiaFW-toggle-btn .on {
    background: #ffeb3b;
}