html {
	background-image: url(../img/SEPIA_back.png);
	background-size: auto 50%;
}
#sepiaFW-main-window {
	color: #000;
	border: 4px solid transparent;
}

#sepiaFW-pC 	 { background-color: #fff; }
#sepiaFW-sC 	 { background-color: #027BFF; }
#sepiaFW-sC2 { background-color: rgba(235, 235, 255, 0.96); 	}
#sepiaFW-aC 	 { background-color: rgba(166, 58, 80, 1.0); 	}
#sepiaFW-aC2 { background-color: #ceff1a; }
#sepiaFW-asC { background-color: #000;	}
#sepiaFW-adC { background-color: gold; 	}

#sepiaFW-login-box input, #sepiaFW-main-window input {
	border: 1px solid #EBEBFF;
}
#sepiaFW-login-box, #sepiaFW-nav-bar, #sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: rgba(255, 255, 255, 0.75);
	color: #000;
	border: 1px solid #EBEBFF;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #000;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #fff;
	color: #000;
}
#sepiaFW-login-box button {
	background: #027BFF;
	color: #fff;
}
#sepiaFW-login-box button:hover {
	background: #EBEBFF;
	color: #000;
}
.sepiaFW-touch-device #sepiaFW-login-box button {
	background: #027BFF;
	color: #fff;
}
#sepiaFW-assist-btn-area {
	border-color: #027BFF;
	background: rgba(255, 255, 255, 0.75);
}
#sepiaFW-assist-btn-area button:hover{
	background: #027BFF;
	color: #fff;
}
.sepiaFW-touch-device #sepiaFW-assist-btn-area button:hover{
	background: #fff;
	color: #000;
}
#sepiaFW-main-window .chat-buttons-area button.chat-button-cmd {
    color: #000;
    background: rgba(255, 255, 255, 0.75);
}

#sepiaFW-chat-menu li {
	background: rgba(255, 255, 255, 0.25);
}
.sepiaFW-menu {
	background: rgba(235, 235, 255, 1.00) !important;
	color: #000 !important;
}
.sepiaFW-menu button{
	background: #027BFF !important;
	color: #fff !important;
}
.sepiaFW-menu button:hover{
	background: #fff !important;
	color: #000 !important;
}
.sepiaFW-touch-device .sepiaFW-menu button:hover{
	background: #027BFF !important;
	color: #fff !important;
}
.sepiaFW-menu input {
	border: 0px !important;
	border-bottom: 1px solid white !important;
}

#sepiaFW-nav-label-note{
    border: 1px solid rgba(166, 58, 80, 1.0);
}

#sepiaFW-chat-output article {
    background: rgba(235, 235, 255, 0.96);
	color: #000;
}
#sepiaFW-chat-output article.chatMe{
	background: #027BFF;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe b{
	color: #fff;
}
#sepiaFW-chat-output article.chatMe span{
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant {
	border: 1px solid #EBEBFF;
	background: rgba(255, 255, 255, 0.75);
	color: #2f3035;
	padding-left: 9px;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #2f3035;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(0, 100, 0, 0.15);
	border-left-width: 5px;
	padding-left: 5px;
}
#sepiaFW-chat-output article.chatMe.chatPm{
	border-left-color: rgba(255, 255, 255, 0.50);
}
#sepiaFW-chat-output article.chatOther.chatPm{
	border-left-color: rgba(0, 0, 0, 0.15);
}
.chat-buttons-area button {
	border: 1px solid #EBEBFF !important;
}

.sepiaFW-button {
	background-color: #027BFF;
	color: #fff;
}
.sepiaFW-button:hover {
	background-color: #EBEBFF;
	color: #000;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #fff;
	color: #000;
}

#sepiaFW-nav-bar-page-indicator div.active {
    background: rgba(0, 0, 0, 0.05);
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
    background: rgba(0, 0, 0, 0.07);
}

.sepiaFW-cards-list-title {
	background: rgba(133, 142, 153, 0.75);
	/*background: rgba(15, 230, 15, 0.55);*/
	color: #fff;
}
.sepiaFW-cards-list-title.newsHeader button {
	color: #027BFF !important;
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #027BFF;
}