#sepiaFW-teachUI-view {
	display: flex;
    flex-direction: column;
	background: #2f3035;
	color: #fff;
}
#sepiaFW-teachUI-view select,
#sepiaFW-teachUI-view input {
	margin: 12px 0;
	border-radius: 0;
}
#sepiaFW-teachUI-view input[type="text"] {
    background: transparent !important;
	border: 0 !important;
    border-bottom: 1px solid !important;
	border-color: inherit;
    color: inherit;
    text-align: center;
	font-size: 18px;
}
#sepiaFW-teachUI-view label {
	color: #ceff1a;
}
#sepiaFW-teachUI-view label.optional {
	display: none;
}
#sepiaFW-teachUI-view a {
	color: #ceff1a;
}
#sepiaFW-teachUI-view a:visited {
	color: #ceff1a;
}

#sepiaFW-teachUI-nav-bar {
	background: #ceff1a;
	color: #2f3035;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#sepiaFW-teachUI-nav-bar .entry {
	flex: 1 1 auto;
	margin: 0px;
	background: transparent;
	color: inherit;
	font-size: 18px;
	display: flex;
    justify-content: center;
    align-items: center;
}
#sepiaFW-teachUI-nav-bar .entry i {
	margin: 0 8px 0 0;
}
#sepiaFW-teachUI-close {
	max-width: 80px;
}
#sepiaFW-teachUI-close i {
	margin: 0 !important;
}
#sepiaFW-teachUI-nav-bar-page-indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
}
#sepiaFW-teachUI-nav-bar-page-indicator div {
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}
#sepiaFW-teachUI-nav-bar-page-indicator div.active {
	background: rgba(255, 255, 255, 0.5);
}

#sepiaFW-teachUI-editor,
#sepiaFW-teachUI-manager {
	padding: 8px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#sepiaFW-teachUI-editor button,
#sepiaFW-teachUI-manager button {
	background: #ceff1a !important;
	color: #2f3035 !important;
	border-radius: 0px !important;
}

.sepiaFW-teachUI-menu-group {
	margin: 16px 8px;
}
.sepiaFW-teachUI-menu-group.center {
	text-align: center;
}
#sepiaFW-teach-input {
	margin-left: 16px;
	margin-right: 16px;
}
#sepiaFW-teach-commands {
	min-width: 50% !important;
}
#sepiaFW-teachUI-command-help {
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
	cursor: pointer;
}
.sepiaFW-teach-parameter-input {
}
.sepiaFW-teach-parameter-input.optional {
	display: none;
}

#sepiaFW-teachUI-manager .sepiaFW-command-cards-container {
	display: flex;
	flex-direction: column;
}
#sepiaFW-teachUI-manager .sepiaFW-command-card {
	flex: 1 1 auto;
	min-height: 40px;
	background: rgba(255, 255, 255, 0.33);
	margin: 5px;
	display: flex;
    flex-direction: row;
}
#sepiaFW-teachUI-manager .sepiaFW-command-card .cmdLabel,
#sepiaFW-teachUI-manager .sepiaFW-command-card .cmdRemoveBtn {
	background: #fff;
	color: #2f3035;
	flex: 1 0 auto;
    text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
	cursor: pointer;
}
#sepiaFW-teachUI-manager .sepiaFW-command-card .cmdRemoveBtn {
	background: #bcbebe;
    color: #fff;
	min-width: 50px;
	max-width: 50px;
	margin-left: 2px;
}
#sepiaFW-teachUI-manager .sepiaFW-command-card span {
	flex: 0 0 auto;
	user-select: none;
}

.sepiaFW-teachUI-menu-group ul {
	padding: 8px 12px;
	list-style: none;
}
.sepiaFW-teachUI-menu-group li {
	overflow: hidden;
	cursor: default;
	background: rgba(128, 128, 128, 0.2);
	min-height: 38px;
	margin: 2px 0;
	padding: 5px 8px;
	font-size: 17px;
}
@media screen and (max-width: 360px) {
	.sepiaFW-teachUI-menu-group li {
		font-size: 14px;
	}
}
.sepiaFW-teachUI-menu-group li span {
	float: left;
	padding-right: 8px;
	padding-top: 5px;
}
.sepiaFW-teachUI-menu-group li input {
	float: right;
	margin: 0 !important;
	max-width: 50%;
	font-size: 16px !important;
}
.sepiaFW-teachUI-menu-group li i {
	float: right;
}
.sepiaFW-teachUI-menu-group li .sepiaFW-button-inline {
	float: right;
	margin: 0;
}
.sepiaFW-teachUI-menu-group li .sepiaFW-toggle-btn {
	float: right;
}