#sepiaFW-frames-view {
	display: flex;
    flex-direction: column;
	background: #fff;
	color: #000;
}
#sepiaFW-frames-view.dark {
	background: #000;
	color: #fff;
}

#sepiaFW-frames-nav-bar {
	background: #000;
	color: #fff;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#sepiaFW-frames-nav-bar .entry {
	flex: 1 1 auto;
	margin: 0px;
	background: transparent;
	color: inherit;
	font-size: 18px;
	display: flex;
    justify-content: center;
    align-items: center;
}
#sepiaFW-frames-nav-bar .entry i {
	margin: 0 8px;
}
#sepiaFW-frames-close {
	max-width: 80px;
}
#sepiaFW-frames-close i {
	margin: 0 !important;
}
#sepiaFW-frames-nav-bar-page-indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	display: flex;
}
#sepiaFW-frames-nav-bar-page-indicator div {
	flex: 1 1 auto;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}
#sepiaFW-frames-nav-bar-page-indicator div.active {
	background: rgba(255, 255, 255, 0.5);
}

.sepiaFW-frames-page {
	padding: 8px 16px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.sepiaFW-frames-page button {
	background: #000 !important;
	color: #ceff1a !important;
}
.sepiaFW-frames-page.dark button {
	background: #ceff1a !important;
	color: #000 !important;
}