html {
	background-image: url(../img/SEPIA_back-w.png);
	background-size: auto 50%;
	background-color: #000;
}
#sepiaFW-main-window {
	color: #fff;
}
@media (min-width: 480px) and (min-height: 481px) {
	#sepiaFW-main-window {
		border-color: #1d1d1d;
		border-width: 6px;
		border-radius: 0px;
		/*overflow: hidden;*/ 	/* we can't use this with position fixed children, its buggy */
	}
	#sepiaFW-nav-bar {
		border-radius: 0px 0px 0 0;
	}
	#sepiaFW-chat-controls {
		border-radius: 0 0 0px 0px;
	}
	.sepiaFW-top-layer-view {
		border-radius: 0px;
	}
}

#sepiaFW-pC  { background-color: #000; }
#sepiaFW-sC  { background-color: #3ba57e; }
#sepiaFW-sC2 { background-color: #07333a; 	}
#sepiaFW-aC  { background-color: rgb(186, 42, 42); 	}
#sepiaFW-aC2 { background-color: #ceff1a; 	}
#sepiaFW-asC { background-color: #1499ae; 	}
#sepiaFW-adC { background-color: gold; 	}
#sepiaFW-lC  { background-color: rgba(150, 150, 150, 0.50); 	}

/*linear-gradient(to right, #07333a 0%, #16ABC3 100%);*/

#sepiaFW-login-box, #sepiaFW-nav-bar, #sepiaFW-chat-controls-form {
	background: linear-gradient(to right, #07333a 0%, #16ABC3 100%);
	color: #fff;
}
html.landscape-small #sepiaFW-nav-bar {
    background: transparent;
}
#sepiaFW-chat-controls-right {
	background: #07333a;
	color: #fff;
}
html.landscape-small #sepiaFW-chat-controls-right {
    background: transparent;
}

#sepiaFW-login-box p {
	color: #fff;
}
#sepiaFW-login-box button {
	background: #000;
	color: #fff;
}

#sepiaFW-chat-controls {
	background: linear-gradient(rgba(0,0,0,0), #000, #000);
	border-bottom-color: #000;
}
#sepiaFW-chat-controls.full-screen {
	background: linear-gradient(rgba(0,0,0,0), #000);
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #fff;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #fff;
}

#sepiaFW-assist-btn-area {
	border-color: #1499ae;
}
#sepiaFW-assist-btn {
	/*background: linear-gradient(to right, #999 0%, #000 100%) !important;*/
	background: linear-gradient(to right, #3ba57e 0%, #07333a 100%) !important;
	/*background: linear-gradient(to right, #CEFF1A 0%, #16ABC3 100%) !important;*/
}
.sepiaFW-notouch-device #sepiaFW-assist-btn:hover {
	background: linear-gradient(to right, #fff 0%, #bbb 100%) !important;
}
#sepiaFW-assist-btn i {
	display: none !important;
}
/*
#sepiaFW-assist-btn-orbiter1 {
	border-color: rgba(21, 171, 195, 1.00);
	background-color: #ceff1a;
}
*/

#sepiaFW-chat-controls-speech-box {
	background: linear-gradient(to right, #149aaf 0%, #289385 100%);
}
#sepiaFW-chat-controls-speech-box > div {
	background: #000;
	color: #fff;
}

.sepiaFW-menu {
	background: #1499ae;
	color: #fff;
}
.sepiaFW-menu input {
	background: transparent !important;
}
.sepiaFW-cards-list-contextMenu {
	background: #07333a;
}
#sepiaFW-chat-controls-more-menu {
	background: #07333a;
}
#sepiaFW-chat-controls-more-menu button {
	background: #fff;
	color: #000;
}
#sepiaFW-chat-menu {
	background: #07333a; 
	color: #fff;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu li {
	background: rgba(255, 255, 255, 0.14);
}
#sepiaFW-chat-menu button {
	border: 1px solid white;
	margin: 4px;
}
.sepiaFW-notouch-device #sepiaFW-chat-menu button:hover {
	background-color: #000 !important;
	color: #fff !important;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background-color: #000 !important;
	color: #fff !important;
}
/*
#sepiaFW-myEvents-buttons button,
#sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-myEvents-buttons button {
    background: #3f9f74 !important;
	color: #fff !important;
}
#sepiaFW-myEvents-buttons button:hover {
	background-color: #0e6e7e !important;
	color: #fff !important;
}
*/
#sepiaFW-main-window .chat-buttons-area button {
    background: linear-gradient(to right, #3ba57e 0%, #279285 100%) !important;
	color: #fff !important
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area button:hover {
    background-color: #107e90 !important;
	color: #fff !important;
}
/*
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background-color: #3f9f74;
	color: #fff;
}
*/

#sepiaFW-chat-output .statusUpdate {
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
}

#sepiaFW-chat-output article {
    background: #333;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe{
	background: #107e90;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe b{
	color: #fff;
}
#sepiaFW-chat-output article.chatMe span{
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant {
	background: linear-gradient(to right, #3ba57e 0%, #279285 100%);
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(255, 255, 255, 0.40);
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: linear-gradient(to right, #0b4d58 0%, #16ABC3 100%);
    color: #fff
}

/*----- pop-ups / overlays -----*/

#sepiaFW-loader {
	background:rgba(255, 255, 255, 0.33);
}
#sepiaFW-loader:before{
	background:rgba(255, 255, 255, 0.22);
}
#sepiaFW-loader:after{
	background:rgba(255, 255, 255, 0.11);
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
    background: rgba(255, 255, 255, 0.14);
}

.sepiaFW-help-view {
    background: rgba(33, 33, 33, 0.75);
}

.sepiaFW-cards-button, 
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
    color: #fff;
    background: linear-gradient(to right, #3ba57e 0%, #279285 100%);
}

.sepiaFW-cards-list-title {
	color: #fff;
    background: linear-gradient(to right, #3ba57e 0%, #279285 100%);
}
.sepiaFW-cards-list-body {
    color: #000;
}
.sepiaFW-cards-list-body .listElement div,
.sepiaFW-cards-list-body .weatherNowSmall > div,
.sepiaFW-cards-list-body .linkCard > div,
.sepiaFW-cards-list-body .timeEvent div,
.sepiaFW-cards-list-body .newsArticle .newsCenter,
.sepiaFW-cards-list-body .radioStation div {
	background: linear-gradient(to right, #0d6371 0%, #107c8d 100%);
	color: #f6f6f4;
}
.sepiaFW-cards-list-footer {
    background: #07333a;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: #4ec48f;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #b7ce96;
}
.sepiaFW-cards-list-body .listElement .listRight {
	border-color: #101418;
	background: #465056;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: linear-gradient(to right, #3ba57e 0%, #279285 100%);
}
.sepiaFW-cards-list-body .weatherNowDetails li {
	background: linear-gradient(to right, #0d6371 0%, #107c8d 100%);
    color: #f6f6f4;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: #07333a;
    color: #fff;
}
#sepiaFW-teachUI-view {
    background: #1f1f23;
}
#sepiaFW-teachUI-view label {
    color: #ceff1a;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #c4ff3e !important;
    color: #333 !important;
}