html {
	background-image: url(../img/SEPIA_back.png);
	background-size: auto 50%;
}
.sepiaFW-results-container {
	scrollbar-color: #f5f5f5 #fff;
}
@media (min-width: 480px) and (min-height: 481px) {
	#sepiaFW-main-window.sepiaFW-skin-mod {
		color: #000;
		border: 4px solid transparent;
	}
	#sepiaFW-chat-controls {
		border: 0 !important;
		border-bottom: 0 !important;
	}
}

#sepiaFW-pC 	{ background-color: #fff; }
#sepiaFW-sC 	{ background-color: #027BFF; }
#sepiaFW-sC2 	{ background-color: #77b7ff; }
#sepiaFW-aC 	{ background-color: #ff5c69; }
#sepiaFW-aC2 	{ background-color: #7fffb5; }
#sepiaFW-asC 	{ background-color: #000; }
#sepiaFW-adC 	{ background-color: #fff176; }
#sepiaFW-lC 	{ background-color: #e5e5e5; }

#sepiaFW-navC 	{ background-color: #000; }
#sepiaFW-statC 	{ background-color: #000; }

#sepiaFW-login-box input, #sepiaFW-main-window input {
	border: 1px solid #EBEBFF;
}
#sepiaFW-login-box, #sepiaFW-nav-bar, #sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: rgba(255, 255, 255, 0.85);
	color: #000;
	border: 1px solid #EBEBFF;
}
#sepiaFW-chat-controls {
	border: 2px solid transparent;
	border-top: 0;
	border-bottom: 2px solid #fff;
}
#sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	backdrop-filter: blur(5px);
}
#sepiaFW-nav-bar {
	border-left: 0;
    border-top: 0;
    border-right: 0;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #000;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #fff;
	color: #000;
}
#sepiaFW-login-box button {
	background: linear-gradient(45deg, #027bff, #3e98ff);
	color: #fff;
}
#sepiaFW-login-box button:not(#sepiaFW-login-extend-btn):not(#sepiaFW-login-help-btn):hover {
	background: #027BFF !important;
    color: #eee !important;
}
#sepiaFW-login-box #sepiaFW-login-extend-btn:hover {
	background-color: transparent !important;
}
.sepiaFW-touch-device #sepiaFW-login-box button {
	background: #027BFF;
	color: #fff;
}
#sepiaFW-assist-btn-area {
	border-color: #027BFF;
	background: rgba(255, 255, 255, 0.85);
	backdrop-filter: blur(5px);
}
#sepiaFW-assist-btn-area.speaking button {
	border: 4px solid #0f0;
}
#sepiaFW-assist-btn-area.listening button {
	border: 4px solid #f00;
	color: #fff;
}
#sepiaFW-assist-btn-area button:hover {
	background: linear-gradient(45deg, #027bff, #3e98ff);
	color: #fff;
}
.sepiaFW-touch-device #sepiaFW-assist-btn-area button:hover {
	background: #fff;
	color: #000;
}

#sepiaFW-chat-controls-speech-box {
	background: rgba(255, 255, 255, 0.85);
	backdrop-filter: blur(5px);
	border: 1px solid #e5e5e5;
}
#sepiaFW-chat-controls-speech-box > div {
	background: rgba(235, 235, 235, 0.40);
    color: #000;
}

#sepiaFW-main-window .chat-buttons-area button {
    color: #000;
	background: rgba(255, 255, 255, 0.85);
	/*backdrop-filter: blur(5px);*/
}
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background-color: rgba(255, 255, 255, 0.85);
	color: #000;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area button:hover {
	background: #fbfbfb;
}

.sepiaFW-menu {
	background: rgba(255, 255, 255, 1.0) !important;
    /*backdrop-filter: blur(5px);*/
	color: #000 !important;
	border: 1px solid #eee;
}
.sepiaFW-menu button {
	background: linear-gradient(45deg, #027bff, #3e98ff) !important;
	color: #fff !important;
}
.sepiaFW-menu button:hover {
	background: #eee !important;
	color: #000 !important;
}
.sepiaFW-touch-device .sepiaFW-menu button:hover {
	background: linear-gradient(45deg, #027bff, #3e98ff) !important;
	color: #fff !important;
}
.sepiaFW-menu #sepiaFW-location-ctrls > button {
	background: transparent !important;
}
.sepiaFW-menu input {
	border: 0px !important;
	border-bottom: 1px solid #ddd !important;
}
.sepiaFW-toggle-btn {
    border: 1px solid #ddd;
}
#sepiaFW-chat-menu:not(.full-screen) {
	border-top: 0;
	border-bottom: 0;
}
#sepiaFW-chat-menu li {
	background: rgba(235, 235, 235, 0.06);
}
#sepiaFW-chat-menu-head-border {
	display: none;
}
@media screen and (max-width: 1265px) {
	#sepiaFW-chat-channel-view {
		border-top: 0;
	}
}
#sepiaFW-chat-controls-more-menu:not(.full-screen) {
	border-bottom: 0;
}

#sepiaFW-nav-label-note {
    border: 1px solid #ff5c69;
}

#sepiaFW-chat-output article {
    border: 1px solid #e5e5e5;
    background: rgba(235, 235, 235, 0.50);
    /*backdrop-filter: blur(5px);*/
	color: #2f3035;
	padding-left: 9px;
}
#sepiaFW-chat-output article.chatMe {
	background: linear-gradient(45deg, #027bff, #3e98ff);
    color: #fff;
    border: 0;
}
#sepiaFW-chat-output article.chatMe b {
	color: #fff;
}
#sepiaFW-chat-output article.chatMe span {
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant {
	border: 1px solid #EBEBFF;
	background: rgba(255, 255, 255, 0.85);
	/*backdrop-filter: blur(5px);*/
	color: #2f3035;
	padding-left: 9px;
}
#sepiaFW-chat-output article.chatAssistant b {
	color: #2f3035;
}
#sepiaFW-chat-output article.chatAssistant.chatPm {
	border-left-color: rgba(0, 100, 0, 0.15);
	border-left-width: 5px;
	padding-left: 5px;
}
#sepiaFW-chat-output article.chatMe.chatPm {
	border-left-color: rgba(255, 255, 255, 0.50);
}
#sepiaFW-chat-output article.chatOther.chatPm {
	border-left-color: rgba(0, 0, 0, 0.15);
}
.chat-buttons-area button {
	border: 1px solid #EBEBFF !important;
}

.sepiaFW-button {
	background-color: linear-gradient(45deg, #027bff, #3e98ff);
	color: #fff;
}
.sepiaFW-button:hover {
	background-color: #EBEBFF;
	color: #000;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #fff;
	color: #000;
}

#sepiaFW-nav-bar-page-indicator div.active {
    background: rgba(0, 0, 0, 0.05);
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
	/*background: rgba(0, 0, 0, 0.03);*/
	background: transparent;
}

.sepiaFW-cards-button, 
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
    background: rgba(255, 255, 255, 0.90);
	color: #000;
	border: 1px solid #e5e5e5;
}
.sepiaFW-cards-list-contextMenu,
.sepiaFW-cards-contextMenu-single {
	background: transparent !important;
	border: 0;
}

.sepiaFW-cards-list-title {
	background: rgba(255, 255, 255, 0.90);
	/*background: rgba(15, 230, 15, 0.55);*/
	color: #000;
	border: 1px solid #e5e5e5;
}
.sepiaFW-cards-list-title.newsHeader button {
	color: #027BFF !important;
}
.sepiaFW-cards-list-footer {
	background: rgba(255, 255, 255, 0.90);
	border: 1px solid #e5e5e5;
}
.sepiaFW-cards-list-body .listElement div {
	border: 1px solid #e5e5e5;
}
.sepiaFW-cards-list-body .listElement .listRight {
	background: rgba(255, 255, 255, 0.90);
	color: #000;
	border-left: 1px solid #e5e5e5;
}
.sepiaFW-cards-list-body .listElement .checked {
	background: #027BFF;
	border: 0;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #e5e5e5;
}
.sepiaFW-cards-list-body .listElement .listRight:hover,
.sepiaFW-notouch-device .sepiaFW-cards-list-body .timeEvent .timeEventRight:hover {
	background: #ff5c69 !important;
	color: #fff !important;
	border: 0;
}

.sepiaFW-cards-list-body .timeEvent > div,
.sepiaFW-cards-list-body .radioStation > div,
.sepiaFW-cards-list-body .weatherNowSmall > div,
.sepiaFW-cards-list-body .linkCard > div,
.sepiaFW-cards-list-body .newsArticle > div {
	border: 1px solid #e5e5e5;
	/*backdrop-filter: blur(5px);*/
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: linear-gradient(45deg, #027bff, #3e98ff);
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: linear-gradient(45deg, #027bff, #3e98ff);
    color: #fff;
}
#sepiaFW-teachUI-view {
	background: #2f3035;
	color: #fff;
}
#sepiaFW-teachUI-view label {
    color: #027BFF;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: linear-gradient(45deg, #027bff, #3e98ff) !important;
    color: #fff !important;
}