html {
	background-image: url(../img/SEPIA_space.svg);
	background-size: auto 40%;
	background-color: #111111;
}
#sepiaFW-main-window {
	/*color: #F4F4F4;*/
	color: #ffad01;
}
.sepiaFW-results-container {
	scrollbar-color: #252525 #191919;
}
@media (min-width: 480px) and (min-height: 481px) {
	#sepiaFW-main-window {
		border-color: #292929;
		border-width: 2px;
		border-radius: 28px;
		/*overflow: hidden;*/ 	/* we can't use this with position fixed children, its buggy */
	}
	#sepiaFW-main-output-carousel {
		border-radius: 0 0 28px 28px;
	}
	#sepiaFW-main-window.full-screen #sepiaFW-main-output-carousel {
		border-radius: 28px;
	}
	#sepiaFW-nav-bar {
		border-top: 0 !important;
		border-radius: 26px 26px 0 0 !important;
	}
	#sepiaFW-chat-controls-form {
		border-radius: 0 0 28px 0;
	}
	#sepiaFW-chat-controls-right {
		border-radius: 0 0 0 28px;
	}
	#sepiaFW-chat-controls {
		border-radius: 0 0 26px 26px !important;
		border-bottom: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
	}
	#sepiaFW-chat-menu,
	#sepiaFW-chat-controls-more-menu {
		border-radius: 0 0 28px 28px;
	}
	.sepiaFW-top-layer-view,
	#sepiaFW-teachUI-view {
		border-radius: 26px;
	}
}
.sepiaFW-menu *,
.sepiaFW-results-container *,
#sepiaFW-nav-bar *,
#sepiaFW-chat-controls *,
#sepiaFW-chat-controls-speech-box * {
    font-weight: bold;
}

#sepiaFW-pC 	{ background-color: #111111; }
#sepiaFW-sC 	{ background-color: #ffad01; } 	
#sepiaFW-sC2 	{ background-color: #df616d; }	
#sepiaFW-aC 	{ background-color: #b7112b; }
#sepiaFW-aC2 	{ background-color: #b3c8fd; }
#sepiaFW-asC 	{ background-color: #df616d; }
#sepiaFW-adC 	{ background-color: #fb9e37; }
#sepiaFW-lC 	{ background-color: #292929; }

#sepiaFW-statC 	{ background-color: #fb9e37; }
#sepiaFW-navC 	{ background-color: #fd827b; }

#sepiaFW-login-box {
	background: #ffad01;
	color: #111111;
	font-weight: bold;
	border-radius: 28px;
	padding: 16px 28px 8px 28px;
}
#sepiaFW-language-selector {
    top: 12px;
    right: 12px;
}
#sepiaFW-login-box p {
	color: #F4F4F4;
}
#sepiaFW-login-box button {
	background: #df616d;
	color: #111111;
	font-weight: bold;
	border-radius: 28px;
}
.sepiaFW-notouch-device #sepiaFW-login-box button:hover {
	background: #9d9dff;
}
#sepiaFW-login-box input {
	background: #111111;
	color: #9d9dff;
	font-weight: bold;
	border-radius: 28px;
}
#sepiaFW-login-links a {
	opacity: 0.66;
}

#sepiaFW-nav-bar {
	background: #ffad01;
	color: #111111;
	border-top: 2px solid #292929;
	border-bottom: 2px solid #292929;
	/*border-radius: 28px;*/
}
#sepiaFW-chat-controls-form {
	background: #df616d;
	color: #111111;
	border-radius: 0;
}
#sepiaFW-chat-controls-form #sepiaFW-chat-send i {
    transform: rotate(-90deg);
}
#sepiaFW-chat-controls-right {
	background: #df616d;
	color: #111111;
	padding: 0;
	min-width: 55px;
	border: 0;
	border-radius: 0;
}
#sepiaFW-chat-controls {
	background: transparent;
	border-bottom-color: #111111;
	border: 2px solid #292929;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
    /*border-radius: 28px 28px 0 0;*/
}
#sepiaFW-chat-controls.full-screen {
	border: 0;
	border-radius: 0;
}
#sepiaFW-chat-controls.full-screen #sepiaFW-chat-controls-right {
	border-radius: 0;
	/*border-radius: 28px 0 0 26px;*/
	border: 2px solid #292929;
	border-right: 1px solid;
	border-left: 0;
}
#sepiaFW-chat-controls.full-screen #sepiaFW-assist-btn-area {
	border-radius: 0 28px 28px 0;
    border: 2px solid #292929;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #111111;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #fff;
}
#sepiaFW-chat-channel-controls button {
	background: #ffad01;
	border-radius: 28px;
}

#sepiaFW-chat-input {
	background: #111111;
    color: #9d9dff;
	border-radius: 18px !important;
}
#sepiaFW-assist-btn-area {
	border-color: #191919;
	background: #fd827b;
	border: 3px solid #111111;
	border-radius: 0;
	border-bottom: 0;
	border-top: 0;
	margin: 0;
    min-width: 61px;
    max-width: 61px;
}
#sepiaFW-assist-btn-area button {
	border: 3px solid #111111;
    background: #9d9dff !important;
}
.sepiaFW-notouch-device #sepiaFW-assist-btn:hover {
	background: #b3c8fd !important;
}
#sepiaFW-assist-btn i {
	display: none !important;
}
#sepiaFW-assist-btn-orbiters {
	top: 23%;
    left: 23%;
    width: 54%;
    height: 54%;
}
#sepiaFW-assist-btn-orbiter1 {
	background: #b3c8fd;
    border: 2px solid #111111;
    bottom: 0px;
	right: 0px;
	border-radius: 3px;
}

#sepiaFW-chat-controls-speech-box {
	background: linear-gradient(to right, #cc99cc 0%, #9d9dff 100%);
}
#sepiaFW-chat-controls-speech-box > div {
	background: #111111;
	color: #9d9dff;
}

.sepiaFW-menu {
	background: #111111;
	color: #F4F4F4;
}
.sepiaFW-menu input {
	background: transparent !important;
}
#sepiaFW-chat-controls-more-menu {
	background: #111111;
	max-width: none;
}
#sepiaFW-chat-controls-more-menu button,
.sepiaFW-touch-device #sepiaFW-chat-controls-more-menu button:hover {
	background: #F4F4F4;
	color: #111111;
}
#sepiaFW-chat-menu {
	background: #111111; 
	color: #F4F4F4;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu li {
	background: rgba(75, 75, 75, 0.14);
}
#sepiaFW-chat-menu button {
	border: 0;
    border-radius: 18px;
    background-color: #df616d;
    color: #111111;
	margin: 4px;
}
.sepiaFW-notouch-device #sepiaFW-chat-menu button:hover {
	background-color: #292929 !important;
	color: #F4F4F4 !important;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background-color: #F4F4F4 !important;
	color: #111111 !important;
}

#sepiaFW-main-window .chat-buttons-area button {
    background: #9d9dff !important;
	color: #111111 !important;
	border-radius: 36px;
    font-size: 14px;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area button:hover {
    background-color: #b3c8fd !important;
}
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background-color: #df616d !important;
	color: #111111 !important;
	max-width: 136px;
    min-height: 42px;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area .my-view-custom-button:hover {
	background-color: #fd827b !important;
}
#sepiaFW-main-window #sepiaFW-myFirstStart-buttons button {
	background: #fecdbf !important;
    color: #111111 !important;
}
.sepiaFW-notouch-device #sepiaFW-main-window #sepiaFW-myFirstStart-buttons button:hover {
	background: #F4F4F4 !important;
}
#sepiaFW-main-window #sepiaFW-myEvents-buttons button,
#sepiaFW-main-window #sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-main-window #sepiaFW-myEvents-buttons button {
    min-height: 42px;
}
.sepiaFW-notouch-device #sepiaFW-main-window #sepiaFW-myEvents-buttons button:hover {
	background-color: #b3c8fd !important;
}
/* special stuff for round buttons */
#sepiaFW-myEvents-buttons {
	justify-content: space-evenly !important;
}
.sepiaFW-myEvents-dateHeader {
    margin: 4px 0 12px 0;
}
#sepiaFW-main-window .chat-buttons-area button.chat-button-custom-fun::after { 
	bottom: calc(50% - 7px);
    right: -4px;
    transform: rotate(180deg);
}

#sepiaFW-chat-output .statusUpdate {
    background: #212121;
    color: #F4F4F4;
}

#sepiaFW-chat-output article {
	/*background: #cc99cc;
	color: #111111;*/
	background: transparent;
    color: #cc99cc;
	/*font-size: 14px;*/
	border-radius: 10px;
}
#sepiaFW-chat-output article.chatMe {
	/*background: #fb9e37;
	color: #111111;*/
	background: transparent;
    color: #9d9dff;
    /*border: 1px solid;*/
}
#sepiaFW-chat-output article.chatAssistant {
	/*background: #fd827b;
	color: #111111;*/
	background: transparent;
    color: #fb9e37;
    /*border: 1px solid;*/
}
#sepiaFW-chat-output article.chatPm {
	/* border-left-color: inherit !important; */
    padding: 9px 9px 6px 6px;
    border-right: 5px solid;
    /* background: #212121; */
    border-color: transparent !important;
}
#sepiaFW-chat-output .chatMsg article b, 
#sepiaFW-chat-output .chatMsg article span {
	/*color: #111111 !important;*/
	color: #b3c8fd !important;
	font-size: 13px !important;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #df616d;
    color: #111111;
    border-radius: 28px;
}

/*----- pop-ups / overlays -----*/

#sepiaFW-loader {
	background:rgba(255, 255, 255, 0.33);
}
#sepiaFW-loader:before{
	background:rgba(255, 255, 255, 0.22);
}
#sepiaFW-loader:after{
	background:rgba(255, 255, 255, 0.11);
}

#sepiaFW-popup-message i {
    color: #ffad01;
}
/*#sepiaFW-popup-message .accent {
    color: #01fca0;
}*/

/*----- cards -----*/

.sepiaFW-cards-flexSize-container {
	background: transparent;
}

.sepiaFW-help-view {
    background: #292929;
}

.sepiaFW-cards-button,
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
	background: #9d9dff;
    color: #111111;
    border-radius: 28px !important;
}

.sepiaFW-cards-list-title {
	color: #111111;
    background: #fb9e37;
    border-radius: 28px;
}
.sepiaFW-notouch-device .sepiaFW-cards-list-title button:hover {
	color: #292929 !important;
}
.sepiaFW-cards-list-body {
    color: #111111;
}
.sepiaFW-cards-list-footer {
	background: #212121;
	color: #F4F4F4;
	border-radius: 0 0 28px 28px;
    width: 56px;
    margin-left: calc(50% - 28px);
}
.sepiaFW-cards-list-title .sepiaFW-cards-list-contextMenu {
    color: #b3c8fd;
	border-radius: 28px;
	border: 1px solid #fb9e37;
}

.sepiaFW-cards-list-body .weatherNowSmall > div,
.sepiaFW-cards-list-body .linkCard > div {
	border-radius: 0;
	color: #111111;
}
.sepiaFW-cards-list-body .radioStation .radioCenter,
.sepiaFW-cards-list-body .timeEvent .timeEventCenter {
	border-radius: 0;
	margin: 5px 3px 0px 3px;
    width: calc(100% - 116px);
}
.sepiaFW-cards-list-body .cardBodyItem > div:first-of-type,
.sepiaFW-cards-list-body .weatherNowSmall > div:first-of-type {
    border-radius: 28px 0 0 28px;
}
.sepiaFW-cards-list-body .cardBodyItem > div:last-of-type,
.sepiaFW-cards-list-body .weatherNowSmall > div:last-of-type {
    border-radius: 0 28px 28px 0;
}

.sepiaFW-cards-list-body .timeEvent div {
	background: #fb9e37;
}
.sepiaFW-cards-list-body .radioStation div {
	background: #fd827b;
    color: #111 !important;
}

.sepiaFW-cards-list-body .listElement div {
	border-radius: 28px;
	color: #f4f4f4;
	background: #212121;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: #4ec48f;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #FFEB3B;
}
.sepiaFW-cards-list-body .listElement .listLeft {
	border-radius: 28px !important;
}
.sepiaFW-cards-list-body .listElement .listRight {
	border-radius: 28px !important;
	background: #212121;
}
.sepiaFW-cards-list-body .listElement .listRight:hover,
.sepiaFW-notouch-device .sepiaFW-cards-list-body .timeEvent .timeEventRight:hover {
	background: #b7112b !important;
	color: #F4F4F4 !important;
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #cc99cc;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage img {
	max-width: 38px;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallData {
	margin: 5px 5px 0 3px;
	background: #b3c8fd;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallIntro {
	margin: 5px 0 0 3px;
	background: #b3c8fd;
}
.sepiaFW-cards-list-body .weatherNowDetails ul {
	background: #212121;
    border-radius: 28px;
    margin: 5px 8px 0 8px;
}
.sepiaFW-cards-list-body .weatherNowDetails li {
	background: transparent;
    color: #fb9e37;
}

.sepiaFW-cards-list-body .linkCard > div {
	background: #fecdbf !important;
	color: #111111;
}
.sepiaFW-cards-list-body .linkCard .linkCardLogo {
	margin-right: 3px;
}
.sepiaFW-cards-list-body .linkCard .linkCardRight {
	margin-left: 3px;
}
.sepiaFW-cards-list-body .linkCard .linkCardLogo img {
    max-width: 42px;
    border-radius: 28px;
}

.sepiaFW-cards-list-body .newsArticle .newsCenter {
	border-radius: 10px !important;
	color: #b3c8fd;
	background: transparent;
}
.sepiaFW-cards-list-title.newsHeader {
    color: #111111;
    background: #b3c8fd;
    border-radius: 28px;
}
/*.sepiaFW-cards-list-title.newsHeader span {
	text-shadow: 1px 1px 0 #F4F4F4, 1px -1px 0 #F4F4F4, -1px 1px 0 #F4F4F4, -1px -1px 0 #F4F4F4, 
					1px 1px 0 #F4F4F4, 0px 1px 0 #F4F4F4, -1px 0px 0 #F4F4F4, 0px -1px 0 #F4F4F4;
}*/
.sepiaFW-cards-list-title.newsHeader button {
	color: #111111 !important;
}
.sepiaFW-cards-list-title.newsHeader .sepiaFW-cards-list-contextMenu {
	border: 1px solid #b3c8fd;
}
.sepiaFW-cards-list-footer.newsFooter {
    border-radius: 28px;
    background: #b3c8fd;
    color: #111111;
}

/*----- Tiny style -----*/

.sepiaFW-tiny-app #sepiaFW-login-box {
	border-radius: 0;
}
.sepiaFW-tiny-app #sepiaFW-nav-bar {
	border-top: 0;
}
.sepiaFW-tiny-app #sepiaFW-chat-controls {
	border: 0;
}
.sepiaFW-tiny-app #sepiaFW-chat-controls-right {
	border-radius: 28px 0 0 28px;
	border: 2px solid #111;
	border-right: 1px solid #111;
}
.sepiaFW-tiny-app #sepiaFW-assist-btn-area {
	border-radius: 0 28px 28px 0;
	border: 2px solid #111;
	border-left: 1px solid #111;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: #111111;
    color: #F4F4F4;
}
#sepiaFW-teachUI-view {
	background: #111111;
}
#sepiaFW-teachUI-view label {
    color: #ffad01
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #9d9dff !important;
	color: #111111 !important;
	border-radius: 28px !important;
}
