html {
	background-image: url(../img/SEPIA_back-w.png);
	background-size: auto 50%;
	background-color: #101418;
}
#sepiaFW-main-window {
	color: #fff;
}
.sepiaFW-results-container {
	scrollbar-color: #212327 #101418;
}
@media (min-width: 480px) and (min-height: 481px) {
	#sepiaFW-main-window {
		border-color: #2d3034;
		border-width: 6px;
		border-radius: 16px;
		/*overflow: hidden;*/ 	/* we can't use this with position fixed children, its buggy */
	}
	#sepiaFW-main-output-carousel {
		border-radius: 0 0 10px 10px;
	}
	#sepiaFW-main-window.full-screen #sepiaFW-main-output-carousel {
		border-radius: 10px;
	}
	#sepiaFW-nav-bar {
		border-radius: 9px 9px 0 0;
	}
	#sepiaFW-chat-controls,
	#sepiaFW-chat-menu,
	#sepiaFW-chat-controls-more-menu {
		border-radius: 0 0 10px 10px;
	}
	.sepiaFW-top-layer-view {
		border-radius: 7px;
	}
}

#sepiaFW-pC 	{ background-color: #101418; }
#sepiaFW-sC 	{ background-color: #beff1a; } 	/*note: the change from ceff1a to beff1a is intentional*/
#sepiaFW-sC2 	{ background-color: #08a0c8; 	}
#sepiaFW-aC 	{ background-color: rgb(186, 42, 42); 	}
#sepiaFW-aC2 	{ background-color: #08a0c8; 	}
#sepiaFW-asC 	{ background-color: #beff1a; 	}
#sepiaFW-adC 	{ background-color: #beff1a; 	}
#sepiaFW-lC 	{ background-color: #535557; 	}

#sepiaFW-login-box {
	background: #212327;
	color: #ECEBE7;
}
#sepiaFW-login-box p {
	color: #ECEBE7;
}
#sepiaFW-login-box button {
	background: #beff1a;
	color: #101418;
}
#sepiaFW-login-links a {
	opacity: 0.5;
}

#sepiaFW-nav-bar, #sepiaFW-chat-controls-form {
	background: #101418;
	color: #ECEBE7;
}
#sepiaFW-chat-controls-right {
	background: #101418;
	color: #ECEBE7;
}
#sepiaFW-chat-controls {
	background: linear-gradient(rgba(16, 20, 24, 0), #101418, #101418);
	border-bottom-color: #101418;
}
#sepiaFW-chat-controls.full-screen {
	/*background: transparent;*/
	background: linear-gradient(rgba(16, 20, 24, 0), #101418);
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #ECEBE7;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #beff1a;
}

#sepiaFW-chat-input {
	background: #ECEBE7;
}
#sepiaFW-assist-btn-area {
	border-color: #101418;
	background: #ECEBE7;
}
#sepiaFW-assist-btn-area button {
	border: 4px solid rgb(207, 207, 207);
}
#sepiaFW-assist-btn {
	background: #08a0c8 !important;
	/*background: linear-gradient(to right, #CEFF1A 0%, #08a0c8 100%) !important;*/
}
.sepiaFW-notouch-device #sepiaFW-assist-btn:hover {
	background: linear-gradient(to right, #ECEBE7 0%, #bbb 100%) !important;
}
#sepiaFW-assist-btn i {
	display: none !important;
}
/*
#sepiaFW-assist-btn-orbiter1 {
	border-color: rgba(21, 171, 195, 1.00);
	background-color: #ceff1a;
}
*/

#sepiaFW-chat-controls-speech-box > div {
	background: #101418;
	color: #fff;
}

.sepiaFW-menu {
	background: #101418;
	color: #ECEBE7;
}
.sepiaFW-menu input {
	background: transparent !important;
	color: inherit;
}
#sepiaFW-chat-channel-view {
	border-bottom: 1px solid #2d3034;
}
#sepiaFW-chat-controls-more-menu {
	background: #101418;
	max-width: none;
	border-top: 1px solid #2d3034;
}
#sepiaFW-chat-controls-more-menu button,
.sepiaFW-touch-device #sepiaFW-chat-controls-more-menu button:hover {
	background: #beff1a;
	color: #101418;
}
#sepiaFW-chat-menu {
	background: #101418; 
	color: #ECEBE7;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu li {
	background: rgba(75, 75, 75, 0.14);
}
.sepiaFW-notouch-device.dark-skin .sepiaFW-menu li:not(.sepiaFW-cards-button):hover{
	background: rgba(128, 128, 128, 0.33) !important;
}
#sepiaFW-chat-menu button {
	border: 1px solid #ECEBE7;
	background-color: #beff1a;
	color: #101418;
	margin: 4px;
}
.sepiaFW-notouch-device #sepiaFW-chat-menu button:hover {
	background-color: #2d3034 !important;
	color: #ECEBE7 !important;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background-color: #ECEBE7 !important;
	color: #101418 !important;
}

.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area button:hover {
    background-color: #beff1a !important;
	color: #101418 !important;
}
#sepiaFW-main-window .chat-buttons-area button {
    background: #2d3034 !important;
	color: #fff !important;
}
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background-color: #08a0c8 !important;
	color: #ECEBE7 !important;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area .my-view-custom-button:hover {
	background-color: #0ab4e1 !important;
	color: #ECEBE7 !important;
}
#sepiaFW-main-window #sepiaFW-myFirstStart-buttons button {
	background: #beff1a !important;
	color: #101418 !important;
}
.sepiaFW-notouch-device #sepiaFW-main-window #sepiaFW-myFirstStart-buttons button:hover {
	background: #7bed31 !important;
	color: #101418 !important;
}
#sepiaFW-main-window #sepiaFW-myEvents-buttons button,
#sepiaFW-main-window #sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-main-window #sepiaFW-myEvents-buttons button {
    background: #beff1a !important;
	color: #101418 !important;
}
/*
#sepiaFW-myEvents-buttons button:hover {
	background-color: #dfdff2 !important;
	color: #000 !important;
}
*/

#sepiaFW-chat-output .statusUpdate {
    background: rgba(255, 255, 255, 0.05);
    color: #ECEBE7;
}

#sepiaFW-chat-output article {
	background: #2d3034;
    /*background: #6E7A82;*/
	color: #fff;
}
#sepiaFW-chat-output article.chatMe {
	background: #08a0c8;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe b, 
#sepiaFW-chat-output article.chatMe span {
	color: #ECEBE7;
}
#sepiaFW-chat-output article.chatAssistant {
	background: #beff1a;
	color: #101418;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #101418;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(255, 255, 255, 0.10);
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	/*background: #08a0c8;*/
	/*background: #24262a;*/
	background: #101418;
	color: #fff;
}

/*----- pop-ups / overlays -----*/

#sepiaFW-loader {
	background:rgba(255, 255, 255, 0.33);
}
#sepiaFW-loader:before{
	background:rgba(255, 255, 255, 0.22);
}
#sepiaFW-loader:after{
	background:rgba(255, 255, 255, 0.11);
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
	background: rgba(21, 23, 26, 0.85);
}

.sepiaFW-help-view {
    background: rgba(33, 33, 33, 0.75);
}

.sepiaFW-cards-button,
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
	background: #BEFF1A;
    color: #121212;
}

.sepiaFW-cards-list-title {
	color: #ECEBE7;
    background: #08a0c8;
}
.sepiaFW-cards-list-body {
    color: #222;
}
.sepiaFW-cards-list-footer {
	/*background: #ceff1a;*/
	background: #2d3034;
	/*color: #101418;*/
	color: #ECEBE7;
}
.sepiaFW-cards-list-body .listElement div,
.sepiaFW-cards-list-body .weatherNowSmall > div,
.sepiaFW-cards-list-body .linkCard > div,
.sepiaFW-cards-list-body .timeEvent div,
.sepiaFW-cards-list-body .newsArticle .newsCenter,
.sepiaFW-cards-list-body .radioStation div {
	background: #212327;
	color: #ECEBE7;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: #4ec48f;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #CEFF1A;
}
.sepiaFW-cards-list-body .listElement .listRight {
	border-color: #101418;
	/*background: #465056;*/
	/*background: #24272a;*/
	background: #2d3034;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #08a0c8;
}
.sepiaFW-cards-list-body .weatherNowDetails li {
    background: #212327;
    color: #ECEBE7;
}
.sepiaFW-cards-list-title.newsHeader {
    background: #ECEBE7;
	color: #212327;
}
.sepiaFW-cards-list-title.newsHeader button {
	color: #101418 !important;
}

/*----- channels -----*/

#sepiaFW-chat-channel-controls button {
	color: #beff1a;
}

#sepiaFW-chat-channellist .my-channel::after,
#sepiaFW-chat-channellist .public::after,
#sepiaFW-chat-userlist .assistant::after,
#sepiaFW-chat-channellist .active::before {
    color: #beff1a;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: #101418;
    color: #ECEBE7;
}
#sepiaFW-teachUI-view {
    background: #101418;
}
#sepiaFW-teachUI-view label {
    color: #beff1a;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #beff1a !important;
    color: #101418 !important;
}