html {
	background-image: url(../img/blocksAlpha.png);
	background-color: #000;
}

#sepiaFW-pC  { background-color: #ceff1a; }
#sepiaFW-sC  { background-color: #000; }
#sepiaFW-sC2 { background-color: #f0f0fa; }
#sepiaFW-aC  { background-color: rgba(145, 47, 86, 0.95); }
#sepiaFW-aC2 { background-color: rgba(21, 171, 195, 0.97); /*rgba(11, 122, 117, 0.97) rgba(86, 47, 145, 0.95);*/ }
#sepiaFW-asC { background-color: #ceff1a; }
#sepiaFW-adC { background-color: gold; }
#sepiaFW-lC  { background-color: rgba(150, 150, 150, 0.50); }

#sepiaFW-login-box {
	background: rgba(21, 171, 195, 0.97);
	color: #fff;
}
#sepiaFW-login-box p {
	color: #fff;
}
#sepiaFW-login-box button {
	background: #000;
	color: #fff;
}
#sepiaFW-nav-bar {
	color: #000;
}
#sepiaFW-chat-controls {
	background: linear-gradient(rgba(0,0,0,0), #000, #000);
	border-bottom-color: #000;
}

#sepiaFW-main-window {
	color: #fff;
}
#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	color: #000;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #2f3035;
    color: #ceff1a;
}

#sepiaFW-nav-label {
	color: #000;
}

#sepiaFW-assist-btn-area {
	border-color: rgba(21, 171, 195, 1.00);
}
#sepiaFW-assist-btn-area button,
.sepiaFW-touch-device #sepiaFW-assist-btn-area button:hover {
	background: #000;
	color: #fff;
}
.sepiaFW-notouch-device #sepiaFW-assist-btn-area button:hover {
	background: #ceff1a;
	color: #000;
}
/*
#sepiaFW-assist-btn-orbiter1 {
	border-color: rgba(21, 171, 195, 1.00);
	background-color: #ceff1a;
}
*/

.sepiaFW-menu {
	background: rgba(21, 171, 195, 0.97);
	color: #fff;
}
.sepiaFW-menu input {
	background: transparent !important;
}
#sepiaFW-chat-controls-more-menu button {
	background: #2f2f2f;
	color: #fff;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background-color: #fff !important;
	color: #2f2f2f !important;
}
#sepiaFW-chat-menu {
	background: #101418; 
	color: #fff;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu li {
	background: rgba(255, 255, 255, 0.14);
}
.sepiaFW-notouch-device #sepiaFW-chat-menu button:hover {
	background-color: #ceff1a !important;
	color: #000 !important;
}

#sepiaFW-myEvents-buttons button,
#sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-myEvents-buttons button {
    background: rgba(21, 171, 195, 0.97) !important;
	color: #fff !important;
}
#sepiaFW-myEvents-buttons button:hover {
	background-color: #f0f0fa !important;
	color: #000 !important;
}
#sepiaFW-myFirstStart-buttons button, 
#sepiaFW-myFirstStart-buttons-replaced button {
	background-color: #2f3035;
	color: #fff;
}

#sepiaFW-chat-output .statusUpdate {
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
}

#sepiaFW-chat-output article.chatAssistant {
	background: rgba(21, 171, 195, 0.97);
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(255, 255, 255, 0.40);
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: rgba(21, 171, 195, 1.00);
	color: #fff;
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
	/*background: rgba(255, 255, 255, 0.14);*/
	background: rgba(21, 23, 26, 0.85);
}

.sepiaFW-help-view {
    background: rgba(33, 33, 33, 0.75);
}

.sepiaFW-cards-list-title {
	color: #ECEBE7;
    background: rgba(21, 171, 195, 0.97);
}
.sepiaFW-cards-list-body {
    color: #222;
}
.sepiaFW-cards-list-footer {
	background: #2d3034;
	color: #ECEBE7;
}
.sepiaFW-cards-list-body .listElement div,
.sepiaFW-cards-list-body .weatherNowSmall > div,
.sepiaFW-cards-list-body .linkCard > div,
.sepiaFW-cards-list-body .timeEvent div,
.sepiaFW-cards-list-body .newsArticle .newsCenter,
.sepiaFW-cards-list-body .radioStation div {
	background: #212327;
	color: #ECEBE7;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: #ceff1a;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #888;
}
.sepiaFW-cards-list-body .listElement .listRight {
	border-color: #101418;
	/*background: #465056;*/
	/*background: #24272a;*/
	background: #2d3034;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: rgba(21, 171, 195, 0.97);
}
.sepiaFW-cards-list-title.newsHeader {
    background: rgba(21, 171, 195, 0.97);
	color: #ECEBE7;
}
.sepiaFW-cards-list-title.newsHeader span {
	text-shadow: 1px 1px 0 #ECEBE7, 1px -1px 0 #ECEBE7, -1px 1px 0 #ECEBE7, -1px -1px 0 #ECEBE7, 
					1px 1px 0 #ECEBE7, 0px 1px 0 #ECEBE7, -1px 0px 0 #ECEBE7, 0px -1px 0 #ECEBE7;
}