html {
	background-image: url();
}
#sepiaFW-main-window {
	color: #000;
	border: 0px;
}
@media (min-width: 480px) and (min-height: 481px) {
	.sepiaFW-top-layer-view {
		border-radius: 0px;
	}
}

#sepiaFW-pC  { background-color: #0057d6; }
#sepiaFW-sC  { background-color: #3285ff; }
#sepiaFW-sC2 { background-color: #fff; }
#sepiaFW-aC  { background-color: #f20710; }
#sepiaFW-aC2 { background-color: #3285ff; }
#sepiaFW-asC { background-color: #01fca0; }
#sepiaFW-adC { background-color: #ffff00; }

#sepiaFW-navC 	{ background-color: #000; }
#sepiaFW-statC 	{ background-color: #000; }

#sepiaFW-nav-bar, #sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: #0057d6;
	color: #fff;
}
#sepiaFW-login-box {
	background: #002d70;
	color: #fff;
}

#sepiaFW-main-window button,
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #0057d6;
	color: #fff;
}
#sepiaFW-login-box button {
	background: #3285ff;
	color: #fff;
}
#sepiaFW-login-box button:not(#sepiaFW-login-extend-btn):hover {
	background: #0057d6 !important;
	color: #fff !important;
}
#sepiaFW-assist-btn-area {
	border-color: #111;
	background: #646464 !important;
}
#sepiaFW-assist-btn-area button {
	background: #01fca0;
    color: #fff;
    border: 2px solid #ececec;
}
#sepiaFW-assist-btn-area.listening button {
	background: #f20710 !important;
}
#sepiaFW-assist-btn-area.speaking button {
	background: #3285ff !important;
}
#sepiaFW-assist-btn-area.awaitDialog button {
	background: #ffff00 !important;
}
#sepiaFW-assist-btn-area.loading button {
	background: #d9d9d9 !important;
}
.sepiaFW-notouch-device #sepiaFW-assist-btn-area button:hover {
	background: #ececec;
}
#sepiaFW-assist-btn i {
	display: none !important;
}
/* see avatar below for center eye piece */
#sepiaFW-assist-btn-orbiter1 {
	background: #fff;
    border: 1px solid #111;
}

#sepiaFW-chat-controls-speech-box > div {
	background: #002d70;
    color: #fff;
}

.sepiaFW-menu {
	background: #002d70;
	color: #fff;
}
.sepiaFW-menu button {
	background: #3285ff !important;
}
.sepiaFW-menu button:hover {
	background: #ffffff !important;
    color: #111 !important;
}
.sepiaFW-touch-device .sepiaFW-menu button:hover {
	background: #3285ff !important;
}
#sepiaFW-chat-menu {
	background: #002d70;
	color: #fff;
}
#sepiaFW-chat-menu li {
	background: rgba(97, 157, 157, 0.10);
}
/*#sepiaFW-chat-controls-more-menu {
	max-width: none;
	border-top: 1px solid #fff;
}
#sepiaFW-chat-channel-view {
	border-bottom: 1px solid #fff;
}*/

#sepiaFW-main-window .chat-buttons-area button {
	background: #3285ff;
	color: #fff;
	border-radius: 15px;
}
#sepiaFW-main-window .chat-buttons-area button:hover {
	background: #002d70;
	color: #fff;
}
.sepiaFW-touch-device #sepiaFW-main-window .chat-buttons-area button:hover {
	background: #fff;
	color: #002d70;
}
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background: #044ab0;
	color: #fff;
}

#sepiaFW-nav-label-note {
    border: 1px solid #fff;
}

#sepiaFW-main-window #sepiaFW-myEvents-buttons button,
#sepiaFW-main-window #sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-main-window #sepiaFW-myEvents-buttons button {
    background: #3285ff !important;
	color: #fff !important;
	/*border-radius: 36px;*/
    min-height: 42px;
    font-size: 14px;
}
/* special stuff for round buttons */
#sepiaFW-myEvents-buttons {
	justify-content: space-evenly !important;
}
.sepiaFW-myEvents-dateHeader {
    margin: 4px 0 12px 0;
}

#sepiaFW-chat-output article {
	background: #044ab0;
    color: #fff;
}
#sepiaFW-chat-output article.chatMe {
	background: #3285ff;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe b {
	color: #fff;
}
#sepiaFW-chat-output article.chatMe span {
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant {
	/*background: #01fca0;*/
	background: #ececec;
	color: #111;
}
#sepiaFW-chat-output article.chatAssistant b {
	color: #111;
}
#sepiaFW-chat-output article.chatAssistant span {
	color: #111;
}
#sepiaFW-chat-output article.chatAssistant.chatPm {
	border-left-color: rgb(229, 229, 229);
}
#sepiaFW-chat-output article.chatMe.chatPm {
	border-left-color: rgba(255, 255, 255, 0.20);
}
#sepiaFW-chat-output article.chatOther.chatPm {
	border-left-color: rgba(255, 255, 255, 0.20);
}

.sepiaFW-button {
	background-color: #002d70;
	color: #fff;
}
.sepiaFW-button:hover {
	background-color: #fff;
	color: #002d70;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background-color: #002d70;
	color: #fff;
}

/*----- common UI elements -----*/

.sepiaFW-toggle-btn .on {
    background: #01fca0;
}

.sepiaFW-audio-soundbar {
	background: #ececec;
}

/*----- cards ------*/

.sepiaFW-cards-button, 
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
    background: #044ab0;
    color: #fff;
}

.sepiaFW-cards-list-title {
	background: #0057d6;
	color: #fff;
}
.sepiaFW-cards-list-footer {
	background: #efefef;
}

.sepiaFW-cards-list-body .listElement .checked {
    background: #01fca0;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #ffff00;
}
.sepiaFW-cards-list-body .listElement .listRight {
    border-color: #646464;
	background: #efefef;
    color: #646464
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #044ab0;
}

.sepiaFW-cards-list-body .listElement .listRight:hover, 
.sepiaFW-notouch-device .sepiaFW-cards-list-body .timeEvent .timeEventRight:hover {
    background: #f20710 !important;
    color: #111 !important;
}

.sepiaFW-cards-list-title.newsHeader button {
	color: #111 !important;
}
.sepiaFW-cards-list-title.newsHeader .sepiaFW-cards-list-contextMenu {
	background: #efefef;
    color: #111;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: #0057d6;
    color: #fff;
}
#sepiaFW-teachUI-view label {
    color: #01fca0;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #01fca0 !important;
    color: #333 !important;
}

/*----- Avatar (AO-Mode) -----*/

#sepiaFW-alwaysOn-avatar {
    width: 320px;
    height: 344px;
    left: calc(50% - 160px);
    top: calc(50% - 172px);
    background: url(../img/avatars/ILA_v1.svg);
    background-repeat: no-repeat;
	background-size: 100%;
}
#sepiaFW-alwaysOn-avatar-touch-area {
    left: 0%;
    top: 14%;
    width: 100%;
    height: 66%;
}

#sepiaFW-alwaysOn-stt-out {
    color: #fff;
}
#sepiaFW-alwaysOn-tts-out {
    color: #3285ff;
}

#sepiaFW-alwaysOn-avatar .avatar-activity {
    top: calc(50% - 10px);
    left: calc(50% - 21px);
    width: 42px;
    height: 42px;
    border: 2px solid rgba(100, 100, 100, 0.25);
	background: #01fca0;
}
#sepiaFW-alwaysOn-avatar .avatar-activity::after,
#sepiaFW-assist-btn::after {
	position: absolute;
	display: block;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 50%;
	content: '';
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
#sepiaFW-assist-btn::after {
    top: calc(50% - 5.5px);
	left: calc(50% - 5.5px);
}
#sepiaFW-alwaysOn-avatar .avatar-activity::after {
	animation: ila-blink 20s 0s infinite ease-in, ila-look-around 40s 10s infinite;
}
#sepiaFW-alwaysOn-avatar .avatar-activity.listening {
	background: #f20710;
}
#sepiaFW-alwaysOn-avatar .avatar-activity.speaking {
	background: #3285ff;
}
#sepiaFW-alwaysOn-avatar .avatar-activity.waiting {
	background: #ffff00;
}
#sepiaFW-alwaysOn-avatar .avatar-activity.loading {
	background: #d9d9d9;
}

#sepiaFW-alwaysOn-avatar .avatar-eye {
    display: none;
}
#sepiaFW-alwaysOn-avatar .avatar-mouth {
    width: 20%;
    height: 10%;
    top: 62%;
    left: 40%;
    border-color: transparent transparent #646464 transparent;
}