html {
	background-image: none;
	background: #7dc8f0;
}
#sepiaFW-main-window {
	border-color: #8E88BE;
	background-size: auto 40%;
	background-image: url(../img/SEPIA_back.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: calc(50% + 1px) center;
}

#sepiaFW-pC 	{ background-color: #8E88BE; }
#sepiaFW-sC 	{ background-color: #C1E7FB; }
#sepiaFW-sC2 	{ background-color: #4b89c3; }
#sepiaFW-aC 	{ background-color: #FBB0B0; }
#sepiaFW-aC2 	{ background-color: #7dc8f0; }
#sepiaFW-asC 	{ background-color: #8E88BE; }
#sepiaFW-adC 	{ background-color: rgba(255,255,0,0.94); 	}

#sepiaFW-login-box, #sepiaFW-nav-bar, #sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: #8E88BE;
	color: #fff;
}

#sepiaFW-login-box button {
	background: #C1E7FB;
	color: #8E88BE;
}
#sepiaFW-login-box p {
	color: #fff;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: #8E88BE;
	color: #C1E7FB;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #C1E7FB;
	color: #8E88BE;
}
#sepiaFW-assist-btn-area {
	border-color: #8E88BE;
}

#sepiaFW-chat-controls-speech-box > div {
	background: #8E88BE;
	color: #fff;
}

.sepiaFW-menu {
	background: #4b89c3;
	color: #fff;
}
#sepiaFW-chat-menu {
	background: #4b89c3;
	color: #fff;
}
#sepiaFW-chat-menu button {
	background: #8E88BE;
	color: #C1E7FB;
}
#sepiaFW-chat-menu li {
	background: rgba(255, 255, 255, 0.12);
}

#sepiaFW-myEvents-buttons button,
#sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-myEvents-buttons button {
    background: #C1E7FB;
	color: #6a6689;
}
#sepiaFW-myEvents-buttons button:hover {
	background: #8E88BE;
	color: #C1E7FB;
}
/*
#sepiaFW-main-window .chat-buttons-area button,
.sepiaFW-touch-device #sepiaFW-main-window .chat-buttons-area button {
	background-color: rgba(235, 235, 255, 0.75);
	color: #2f3035;
}
*/
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background-color: #8E88BE;
	color: #C1E7FB;
}

#sepiaFW-chat-output article {
    background: #FBB0B0;
	color: #404080;
}
#sepiaFW-chat-output article.chatMe{
	background: #7dc8f0;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe b{
	color: #fff;
}
#sepiaFW-chat-output article.chatMe span{
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant {
	background: #C1E7FB;
	color: #404080;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #404080;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(142, 136, 190, 0.5);
}
#sepiaFW-chat-output article.chatMe.chatPm{
	border-left-color: rgba(0, 0, 0, 0.15);
}
#sepiaFW-chat-output article.chatOther.chatPm{
	border-left-color: rgba(255, 0, 85, 0.40);
}

.sepiaFW-button {
	background-color: #8E88BE;
	color: #C1E7FB;
}
.sepiaFW-button:hover {
	background-color: #C1E7FB;
	color: #8E88BE;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background-color: #fbb0b0;
	color: #fff;
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
	background: #f0f0f0;
}

.sepiaFW-cards-button,
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
	background: #8E88BE;
    color: #c1e7fb;
}

.sepiaFW-cards-list-title {
	background: #7dc8f0;
	color: #fff;
}
.sepiaFW-cards-list-footer {
	background: #c1e7fb;
    color: #000;
}

.sepiaFW-cards-list-body .listElement .listRight {
    border-color: #70cff7;
    background: #c1e7fb;
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #c1e7fb;
}

.sepiaFW-cards-list-body .timeEvent div {
    background: rgb(193, 231, 251);
	color: #6f6e90;
}