.sepiaFW-tiny-app body {
	padding: 0px;
	min-width: auto;
	font-size: 13px;
}

.sepiaFW-tiny-app .sepiaFW-myEvents-titleNote,
.sepiaFW-tiny-app .sepiaFW-myFirstStart-titleNote,
.sepiaFW-tiny-app .sepiaFW-myCustomButtons-titleNote,
.sepiaFW-tiny-app .sepiaFW-results-container h2 {
	font-size: 14px !important;
}
.sepiaFW-tiny-app .sepiaFW-cards-list-body .timeEvent .timeEventCenter .sepiaFW-timer-name {
	font-size: 14px;
}
.sepiaFW-tiny-app .sepiaFW-cards-list-body .timeEvent .timeEventCenter .sepiaFW-timer-indicator {
    font-size: 12px;
}

.sepiaFW-tiny-app .sepiaFW-cards-list-title > span {
    width: 110px;
    line-height: 14px;
}

.sepiaFW-tiny-app #sepiaFW-nav-menu-btn {
	display: none;
}
.sepiaFW-tiny-app #sepiaFW-nav-users-btn {
	display: none;
}
.sepiaFW-tiny-app #sepiaFW-chat-controls-form {
	display: none;
}

.sepiaFW-tiny-app #sepiaFW-chat-controls {
	justify-content: center;
	pointer-events: none;
}
.sepiaFW-tiny-app #sepiaFW-chat-controls > div {
	pointer-events: auto;
}
.sepiaFW-tiny-app #sepiaFW-chat-controls-right {
	border-radius: 28px;
	padding: 0;
	min-width: 55px;
	border: 3px solid #191919;
}
.sepiaFW-tiny-app #sepiaFW-chat-controls-more-btn {
	border-radius: 28px;
}
.sepiaFW-tiny-app #sepiaFW-chat-controls-more-menu {
	height: 100%;
}
.sepiaFW-tiny-app #sepiaFW-more-menu-actions {
	display: none;
}
.sepiaFW-tiny-app #sepiaFW-audio-ctrls {
	display: none;
}
.sepiaFW-tiny-app #sepiaFW-more-menu-shortcuts {
	padding: 4px 0 !important;
}
.sepiaFW-tiny-app #sepiaFW-location-ctrls {
	padding: 4px 0 0 0;
}
.sepiaFW-tiny-app #sepiaFW-menue-status-text {
	font-size: 12px;
}

.sepiaFW-tiny-app #sepiaFW-alwaysOn-avatar {
	width: 190px;
	height: 190px;
	left: calc(50% - 95px);
    top: calc(50% - 57px);
}

.sepiaFW-tiny-app #sepiaFW-alwaysOn-stt-out {
	top: 0px;
}
.sepiaFW-tiny-app #sepiaFW-alwaysOn-tts-out {
	bottom: 8px;
}
.sepiaFW-tiny-app .sepiaFW-alwaysOn-text-block {
    font-size: 14px;
}

.sepiaFW-tiny-app #sepiaFW-login-box {
	width: 100%;
    left: 0;
    top: 0;
	margin: 0;
	padding: 12px;
}

.sepiaFW-tiny-app #sepiaFW-by-Florian-Quirin {
	display: none;
}
