html {
	background-image: url(../img/SEPIA_back-w.png);
	background-size: auto 50%;
	background-color: #101418;
}
#sepiaFW-main-window {
	color: #fff;
}
@media (min-width: 480px) and (min-height: 481px) {
	#sepiaFW-main-window {
		border-color: #2d3034;
		border-width: 6px;
		border-radius: 16px;
		/*overflow: hidden;*/ 	/* we can't use this with position fixed children, its buggy */
	}
	#sepiaFW-nav-bar {
		border-radius: 9px 9px 0 0;
	}
	#sepiaFW-chat-controls {
		border-radius: 0 0 9px 9px;
	}
	.sepiaFW-top-layer-view {
		border-radius: 7px;
	}
}

#sepiaFW-pC 	{ background-color: #101418; }
#sepiaFW-sC 	{ background-color: #ceff1a; }
#sepiaFW-sC2 	{ background-color: #08a0c8; 	}
#sepiaFW-aC 	{ background-color: rgb(186, 42, 42); 	}
#sepiaFW-aC2 	{ background-color: #08a0c8; 	}
#sepiaFW-asC 	{ background-color: #ceff1a; 	}
#sepiaFW-adC 	{ background-color: #ceff1a; 	}
#sepiaFW-lC 	{ background-color: rgba(150, 150, 150, 0.50); 	}

#sepiaFW-login-box {
	background: #2d3034;
	color: #ECEBE7;
}
#sepiaFW-login-box p {
	color: #ECEBE7;
}
#sepiaFW-login-box button {
	background: #ceff1a;
	color: #101418;
}
#sepiaFW-login-links a {
	opacity: 0.5;
}

#sepiaFW-nav-bar, #sepiaFW-chat-controls-form {
	background: #101418;
	color: #ECEBE7;
}
#sepiaFW-chat-controls-right {
	background: #101418;
	color: #ECEBE7;
}
#sepiaFW-chat-controls {
	background: linear-gradient(rgba(16, 20, 24, 0), #101418, #101418);
	border-bottom-color: #101418;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #ECEBE7;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #ceff1a;
}

#sepiaFW-assist-btn-area {
	border-color: #101418;
}
#sepiaFW-assist-btn {
	background: #08a0c8 !important;
	/*background: linear-gradient(to right, #CEFF1A 0%, #08a0c8 100%) !important;*/
}
.sepiaFW-notouch-device #sepiaFW-assist-btn:hover {
	background: linear-gradient(to right, #ECEBE7 0%, #bbb 100%) !important;
}
#sepiaFW-assist-btn i {
	display: none !important;
}
/*
#sepiaFW-assist-btn-orbiter1 {
	border-color: rgba(21, 171, 195, 1.00);
	background-color: #ceff1a;
}
*/

.sepiaFW-menu {
	background: #101418;
	color: #ECEBE7;
}
.sepiaFW-menu input {
	background: transparent !important;
}
#sepiaFW-chat-controls-more-menu {
	background: #101418;
	max-width: none;
}
#sepiaFW-chat-controls-more-menu button {
	background: #ceff1a;
	color: #101418;
}
#sepiaFW-chat-menu {
	background: #101418; 
	color: #ECEBE7;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu li {
	background: rgba(75, 75, 75, 0.14);
}
#sepiaFW-chat-menu button {
	border: 1px solid #ECEBE7;
	background-color: #ceff1a;
	color: #101418;
	margin: 4px;
}
.sepiaFW-notouch-device #sepiaFW-chat-menu button:hover {
	background-color: #2d3034 !important;
	color: #ECEBE7 !important;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background-color: #ECEBE7 !important;
	color: #101418 !important;
}

.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area button:hover {
    background-color: #ceff1a !important;
	color: #101418 !important;
}
#sepiaFW-main-window .chat-buttons-area button {
    background: #2d3034 !important;
	color: #fff !important
}
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background-color: #08a0c8 !important;
	color: #ECEBE7 !important;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area .my-view-custom-button:hover {
	background-color: #0ab4e1 !important;
	color: #ECEBE7 !important;
}
#sepiaFW-main-window #sepiaFW-myFirstStart-buttons button {
	background: #ceff1a !important;
	color: #101418 !important
}
.sepiaFW-notouch-device #sepiaFW-main-window #sepiaFW-myFirstStart-buttons button:hover {
	background: #f3ff1a !important;
	color: #101418 !important;
}
#sepiaFW-main-window #sepiaFW-myEvents-buttons button,
#sepiaFW-main-window #sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-main-window #sepiaFW-myEvents-buttons button {
    background: #ceff1a !important;
	color: #101418 !important;
}
/*
#sepiaFW-myEvents-buttons button:hover {
	background-color: #dfdff2 !important;
	color: #000 !important;
}
*/

#sepiaFW-chat-output .statusUpdate {
    background: rgba(255, 255, 255, 0.05);
    color: #ECEBE7;
}

#sepiaFW-chat-output article {
	background: #2d3034;
    /*background: #6E7A82;*/
	color: #fff;
}
#sepiaFW-chat-output article.chatMe {
	background: #08a0c8;
	color: #fff;
}
#sepiaFW-chat-output article.chatMe b, 
#sepiaFW-chat-output article.chatMe span {
	color: #ECEBE7;
}
#sepiaFW-chat-output article.chatAssistant {
	background: #ceff1a;
	color: #101418;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #101418;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: rgba(255, 255, 255, 0.10);
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #08a0c8;
	color: #fff;
}

/*----- pop-ups / overlays -----*/

#sepiaFW-loader {
	background:rgba(255, 255, 255, 0.33);
}
#sepiaFW-loader:before{
	background:rgba(255, 255, 255, 0.22);
}
#sepiaFW-loader:after{
	background:rgba(255, 255, 255, 0.11);
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
    background: rgba(255, 255, 255, 0.14);
}

.sepiaFW-help-view {
    background: rgba(33, 33, 33, 0.75);
}

.sepiaFW-cards-list-title {
	color: #ECEBE7;
    background: #08a0c8;
}
.sepiaFW-cards-list-body {
    color: #222;
}

.sepiaFW-cards-list-footer {
	background: #ceff1a;
	color: #101418;
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #08a0c8;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: #101418;
    color: #ECEBE7;
}
#sepiaFW-teachUI-view {
    background: #101418;
}
#sepiaFW-teachUI-view label {
    color: #ceff1a;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #ceff1a !important;
    color: #101418 !important;
}