html {
	background-image: url(../img/birdAlpha.png);
    background-size: auto 70%;
    background-position: 50% 50%;
    background-color: #040404;
}
#sepiaFW-main-window {
	color: #F4F4F4;
}
.sepiaFW-results-container {
	scrollbar-color: #191919 #040404;
}
@media (min-width: 480px) and (min-height: 481px) {
	#sepiaFW-main-window {
		border-color: #212121;
		border-width: 6px;
		border-radius: 16px;
		/*overflow: hidden;*/ 	/* we can't use this with position fixed children, its buggy */
	}
	#sepiaFW-main-output-carousel {
		border-radius: 0 0 10px 10px;
	}
	#sepiaFW-main-window.full-screen #sepiaFW-main-output-carousel {
		border-radius: 10px;
	}
	#sepiaFW-nav-bar {
		border-radius: 9px 9px 0 0;
	}
	#sepiaFW-chat-controls,
	#sepiaFW-chat-menu,
	#sepiaFW-chat-controls-more-menu {
		border-radius: 0 0 10px 10px;
	}
	.sepiaFW-top-layer-view {
		border-radius: 7px;
	}
}

#sepiaFW-pC 	{ background-color: #040404; }
#sepiaFW-sC 	{ background-color: #F4F4F4; } 	
#sepiaFW-sC2 	{ background-color: #eded00; }	
#sepiaFW-aC 	{ background-color: #d91e2c; }
#sepiaFW-aC2 	{ background-color: #0CCE6B; }
#sepiaFW-asC 	{ background-color: #eded00; }
#sepiaFW-adC 	{ background-color: #f4f4f4; }
#sepiaFW-lC 	{ background-color: #556055; }

#sepiaFW-login-box {
	background: #212121;
	color: #F4F4F4;
}
#sepiaFW-login-box p {
	color: #F4F4F4;
}
#sepiaFW-login-box button {
	background: linear-gradient(to right, #eded00 0%, #d0ed00 100%);
	color: #040404;
}
.sepiaFW-notouch-device #sepiaFW-login-box button:hover {
	background: #d0ed00;
	color: #040404;
}
#sepiaFW-login-links a {
	opacity: 0.5;
}

#sepiaFW-nav-bar, 
#sepiaFW-chat-controls-form {
	background: #040404;
	color: #F4F4F4;
}
#sepiaFW-chat-controls-form {
	border-radius: 28px;
}
#sepiaFW-chat-controls-right {
	background: linear-gradient(to right, #eded00 0%, #d0ed00 100%);
    color: #040404;
    border-radius: 28px;
    padding: 0;
    min-width: 55px;
    border: 3px solid #191919;
}
#sepiaFW-chat-controls {
	background: linear-gradient(rgba(4, 4, 4, 0), #040404, #040404);
	border-bottom-color: #040404;
}
#sepiaFW-chat-controls-more-btn {
	color: #040404 !important;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #F4F4F4;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: transparent;
	color: #eded00;
}

#sepiaFW-chat-input {
	background: #F4F4F4;
	border-radius: 18px !important;
}
#sepiaFW-assist-btn-area {
	border-color: #191919;
	background: #d0ed00;
}
#sepiaFW-assist-btn-area button {
	border: 4px solid #556055;
}
#sepiaFW-assist-btn {
	/*background: linear-gradient(to right, #F4F4F4 0%, #bbb 100%) !important;*/
	background: #F4F4F4 !important;
}
.sepiaFW-notouch-device #sepiaFW-assist-btn:hover {
	background: linear-gradient(to right, #eded00 0%, #d0ed00 100%) !important;
}
#sepiaFW-assist-btn i {
	display: none !important;
}
/*
#sepiaFW-assist-btn-orbiter1 {
	border-color: rgba(21, 171, 195, 1.00);
	background-color: #ceff1a;
}
*/

#sepiaFW-chat-controls-speech-box > div {
	background: #040404;
	color: #F4F4F4;
}

.sepiaFW-menu {
	background: #040404;
	color: #F4F4F4;
}
.sepiaFW-menu input {
	background: transparent !important;
}
#sepiaFW-chat-controls-more-menu {
	background: #040404;
	max-width: none;
}
#sepiaFW-chat-controls-more-menu button,
.sepiaFW-touch-device #sepiaFW-chat-controls-more-menu button:hover {
	background: #F4F4F4;
	color: #040404;
}
#sepiaFW-chat-menu {
	background: #040404; 
	color: #F4F4F4;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu li {
	background: rgba(75, 75, 75, 0.14);
}
#sepiaFW-chat-menu button {
	border: 1px solid #F4F4F4;
	border-radius: 18px;
	background-color: #eded00;
	color: #040404;
	margin: 4px;
}
.sepiaFW-notouch-device #sepiaFW-chat-menu button:hover {
	background-color: #212121 !important;
	color: #F4F4F4 !important;
}
.sepiaFW-notouch-device #sepiaFW-chat-controls-more-menu button:hover {
	background-color: #F4F4F4 !important;
	color: #040404 !important;
}

#sepiaFW-main-window .chat-buttons-area button {
    background: linear-gradient(to right, #eded00 0%, #d0ed00 100%) !important;
	color: #040404 !important;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area button:hover {
    background: #d0ed00 !important;
	color: #040404 !important;
}
#sepiaFW-main-window .chat-buttons-area .my-view-custom-button {
	background: linear-gradient(to right, #eded00 0%, #d0ed00 100%) !important;
	color: #040404 !important;
	border-radius: 36px;
	max-width: 136px;
    min-height: 42px;
    font-size: 14px;
}
.sepiaFW-notouch-device #sepiaFW-main-window .chat-buttons-area .my-view-custom-button:hover {
	background: #d0ed00 !important;
	color: #040404 !important;
}
#sepiaFW-main-window #sepiaFW-myFirstStart-buttons button {
	background: #212121 !important;
    color: #f4f4f4 !important;
}
.sepiaFW-notouch-device #sepiaFW-main-window #sepiaFW-myFirstStart-buttons button:hover {
	background: #F4F4F4 !important;
	color: #040404 !important;
}
#sepiaFW-main-window #sepiaFW-myEvents-buttons button,
#sepiaFW-main-window #sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-main-window #sepiaFW-myEvents-buttons button {
    background: linear-gradient(to right, #eded00 0%, #d0ed00 100%) !important;
	color: #040404 !important;
	border-radius: 36px;
	/*max-width: 136px;*/
    min-height: 42px;
    font-size: 14px;
}
.sepiaFW-notouch-device #sepiaFW-main-window #sepiaFW-myEvents-buttons button:hover {
	background: #d0ed00 !important;
	color: #040404 !important;
}
/* special stuff for round buttons */
#sepiaFW-myEvents-buttons {
	justify-content: space-evenly !important;
}
.sepiaFW-myEvents-dateHeader {
    margin: 4px 0 12px 0;
}

#sepiaFW-chat-output .statusUpdate {
    background: rgba(255, 255, 255, 0.05);
    color: #F4F4F4;
}

#sepiaFW-chat-output article {
	background: #0CCE6B;
	color: #040404;
}
#sepiaFW-chat-output article.chatMe {
	background: linear-gradient(to right, #eded00 0%, #d0ed00 100%) !important;
	color: #040404;
}
#sepiaFW-chat-output article.chatMe b, 
#sepiaFW-chat-output article.chatMe span {
	color: #040404;
}
#sepiaFW-chat-output article.chatAssistant {
	background: #212121;
	color: #F4F4F4;
}
#sepiaFW-chat-output article.chatAssistant b {
	color: #F4F4F4;
}
#sepiaFW-chat-output article.chatAssistant.chatPm {
	border-left-color: rgba(155, 155, 155, 0.10);
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: linear-gradient(to right, #eded00 0%, #d0ed00 100%);
    color: #040404;
    border-radius: 28px;
}

/*----- pop-ups / overlays -----*/

#sepiaFW-loader {
	background:rgba(255, 255, 255, 0.33);
}
#sepiaFW-loader:before{
	background:rgba(255, 255, 255, 0.22);
}
#sepiaFW-loader:after{
	background:rgba(255, 255, 255, 0.11);
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
	background: #121212;
}

.sepiaFW-help-view {
    background: #121212;
}

.sepiaFW-cards-button,
.sepiaFW-notouch-device .sepiaFW-cards-button:hover {
	background: #eded00;
    color: #040404
}

.sepiaFW-cards-list-title {
	background: linear-gradient(to right, #eded00 0%, #d0ed00 100%);
    color: #040404
}
.sepiaFW-cards-list-title button {
	color: #111111 !important;
}
.sepiaFW-notouch-device .sepiaFW-cards-list-title button:hover {
	color: #040404 !important;
}
.sepiaFW-cards-list-body {
    color: #040404;
}
.sepiaFW-cards-list-footer {
	background: #282828;
	color: #ECEBE7;
}
.sepiaFW-cards-list-body .listElement div,
.sepiaFW-cards-list-body .weatherNowSmall > div,
.sepiaFW-cards-list-body .linkCard > div,
.sepiaFW-cards-list-body .timeEvent div,
.sepiaFW-cards-list-body .newsArticle .newsCenter,
.sepiaFW-cards-list-body .radioStation div {
	background: #212121;
	color: #ECEBE7;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: #0CCE6B;
}
.sepiaFW-cards-list-body .listElement .inProgress {
    background: #eded00;
}
.sepiaFW-cards-list-body .listElement .listRight {
	border-color: #121212;
	background: #282828;
	color: #F4F4F4;
}
.sepiaFW-cards-list-body .listElement .listRight:hover,
.sepiaFW-notouch-device .sepiaFW-cards-list-body .timeEvent .timeEventRight:hover {
	background: #d91e2c !important;
	color: #040404 !important;
}
.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #0CCE6B;
}
.sepiaFW-cards-list-body .weatherNowDetails li {
    background: #191919;
    color: #F4F4F4;
}
.sepiaFW-cards-list-title.newsHeader {
    background: #F4F4F4;
	color: #040404;
}
.sepiaFW-cards-list-title.newsHeader button {
	color: #040404 !important;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-nav-bar {
    background: #040404;
    color: #F4F4F4;
}
#sepiaFW-teachUI-view {
    background: #040404;
}
#sepiaFW-teachUI-view label {
    color: #eded00;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: linear-gradient(to right, #eded00 0%, #d0ed00 100%) !important;
    color: #040404 !important;
}