html {
	background-image: url(../img/SEPIA_back-w.png);
	background-size: auto 30%;
	background-color: #000;
}
#sepiaFW-main-window {
	border: 0;
	border-radius: 0;
	/*box-shadow: inset 0px 0px 0px 1px #fff;*/
}
@media (min-width: 480px) and (min-height: 481px) {
	.sepiaFW-top-layer-view {
		border-radius: 0px;
	}
}

#sepiaFW-pC 	 { background-color: #000; }
#sepiaFW-sC 	 { background-color: #fff; }
#sepiaFW-sC2 { background-color: #222226; }
#sepiaFW-aC 	 { background-color: #ff0000; }
#sepiaFW-aC2 { background-color: #dfe0f5; }
#sepiaFW-asC { background-color: #ceff1a; }
#sepiaFW-adC { background-color: #ceff1a; }
#sepiaFW-lC 	 { background-color: rgba(200, 200, 200, 0.50); 	}

#sepiaFW-login-box, #sepiaFW-nav-bar, #sepiaFW-chat-controls-form, #sepiaFW-chat-controls-right {
	background: #000;
	border: 1px solid #fff;
	color: #fff;
}
#sepiaFW-chat-controls {
	background: linear-gradient(rgba(0,0,0,0), #000, #000);
}

#sepiaFW-main-window {
	color: #fff;
}
#sepiaFW-main-window h2 {
	font-weight: 300;
}
#sepiaFW-main-window input, #sepiaFW-login-box input {
	background: #000;
	color: #fff;
}
#sepiaFW-chat-input,
#sepiaFW-login-box input {
	border: 1px solid #fff !important;
}
#sepiaFW-main-output-carousel .sepiaFW-carousel-pane {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
#sepiaFW-teachUI-view .sepiaFW-carousel-pane,
#sepiaFW-frames-view .sepiaFW-carousel-pane {
    border-top: 1px solid #fff;
	border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.sepiaFW-layer-header {
	border: 1px solid #fff;
	background: #222226;
}
.sepiaFW-myEvents-titleNote, .sepiaFW-myFirstStart-titleNote {
    font-weight: 300 !important;
}

#sepiaFW-main-window button,
.sepiaFW-touch-device #sepiaFW-main-window button:hover {
	background: #000;
	color: #fff;
}
.sepiaFW-notouch-device #sepiaFW-main-window button:hover {
	background: #000;
	color: #fff;
}
#sepiaFW-login-box button {
	background: #fff;
	color: #000;
}
#sepiaFW-assist-btn-area {
	background-color: #000;
	border: 1px solid #fff;
	padding: 8px;
}
#sepiaFW-assist-btn-area button {
	border: 0px solid #fff;
	background: #222226;
}
#sepiaFW-assist-btn-orbiters {
    top: 2px;
    left: 16px;
    width: 20px;
    height: 49px;
}
#sepiaFW-assist-btn-orbiter1 {
    right: 8px;
    bottom: 1px;
    height: 11px;
	width: 3px;
	border: 1px solid #638613;
	border-radius: 3px;
}

.sepiaFW-menu {
	background: #222226;
	color: #fff;
}
.sepiaFW-menu input {
	background: transparent !important;
}
#sepiaFW-chat-menu {
	background: #222226; 
	color: #fff;
}
#sepiaFW-chat-menu-head-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu-footer-border {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%);
}
#sepiaFW-chat-menu button {
	background: #000;
	color: #fff;
	border: 1px solid #fff;
}
#sepiaFW-chat-menu button:hover {
	background: #fff;
	color: #000;
}
.sepiaFW-touch-device #sepiaFW-chat-menu button:hover {
	background: #000;
	color: #fff;
}
#sepiaFW-chat-menu li {
	background: rgba(255, 255, 255, 0.06);
}
.sepiaFW-toggle-btn .on {
    background: #ceff1a;
}

#sepiaFW-main-window .chat-buttons-area button {
	border: 1px solid #fff;
}

#sepiaFW-myEvents-buttons button,
#sepiaFW-myEvents-buttons-replaced button,
.sepiaFW-touch-device #sepiaFW-myEvents-buttons button {
    background: #000;
	color: #fff;
	border: 1px solid #fff !important;
}
#sepiaFW-myEvents-buttons button:hover {
	background: #fff;
	color: #000;
}
/*
#sepiaFW-main-window .chat-buttons-area button,
.sepiaFW-touch-device #sepiaFW-main-window .chat-buttons-area button {
	background-color: rgba(235, 235, 255, 0.75);
	color: #2f3035;
}
*/

#sepiaFW-nav-label-note{
    border: 1px solid #ceff1a;
	background: #000;
	color: #fff;
}

#sepiaFW-chat-output .statusUpdate {
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
}
#sepiaFW-chat-output article:not(.statusUpdate) {
	background: rgba(216, 250, 0, 0.20);
	color: #fff;
    border: 1px solid #ceff1a;
    padding-left: 10px;
}
#sepiaFW-chat-output article:not(.statusUpdate) b {
	color: #888;
}
#sepiaFW-chat-output article.chatMe{
	background: #000;
	color: #fff;
	border-color: #fff;
}
#sepiaFW-chat-output article.chatMe b{
	color: #fff;
}
#sepiaFW-chat-output article.chatMe span{
	color: #fff;
}
#sepiaFW-chat-output article.chatAssistant {
	background: rgba(34, 34, 38, 0.85);
	color: #fff;
	border-color: #fff;
}
#sepiaFW-chat-output article.chatAssistant b{
	color: #888;
}
#sepiaFW-chat-output article.chatAssistant.chatPm{
	border-left-color: #ceff1a;
	border-left-width: 2px;
}
#sepiaFW-chat-output article.chatMe.chatPm{
	border-left-color: rgba(255, 0, 0, 1.0);
	border-left-width: 2px;
}
#sepiaFW-chat-output article.chatOther.chatPm{
	border-left-color: rgba(255, 0, 0, 1.0);
	border-left-width: 2px;
}

.sepiaFW-button {
	background-color: #222226;
	color: #fff;
}
.sepiaFW-button:hover {
	background-color: #fff;
	color: #222226;
}

#sepiaFW-chat-controls-swipe-area .sepiaFW-swipeBar-switchable {
	background: #000;
	color: #fff;
}

/*----- pop-ups / overlays -----*/

#sepiaFW-loader {
	background:rgba(255, 255, 255, 0.33);
}
#sepiaFW-loader:before{
	background:rgba(255, 255, 255, 0.22);
}
#sepiaFW-loader:after{
	background:rgba(255, 255, 255, 0.11);
}

/*----- cards ------*/

.sepiaFW-cards-flexSize-container {
    background: rgba(255, 255, 255, 0.07);
}

.sepiaFW-help-view {
    background: rgba(33, 33, 33, 0.75);
}

.sepiaFW-cards-list-title {
	background: #222226;
    color: #fff;
}
.sepiaFW-cards-list-body {
    color: #051525;
}
.sepiaFW-cards-list-body > div > div {
    background: #000 !important;
	color: #fff;
}
.sepiaFW-cards-list-body .listElement .checked {
    background: rgba(206, 255, 26, 0.95) !important;
}
.sepiaFW-cards-list-body .listElement .listRight:hover {
	background: rgba(255, 0, 0, 0.95) !important;
}

.sepiaFW-cards-list-body .weatherNowSmall .weatherNowSmallImage {
	background: #222226;
}

.sepiaFW-cards-list-footer {
    background: transparent;
}

/*----- teachUI -----*/

#sepiaFW-teachUI-view {
    background: #000;
}
#sepiaFW-teachUI-editor button, 
#sepiaFW-teachUI-manager button {
    background: #000 !important;
    color: #fff !important;
	border: 1px solid #fff;
}